<div class="row no-side-margin">
	<div id="hero-banner" class="col-md-12">
		<div class="logo-search-form">
			<div class="logo">
			    <h1 class="display-4">DIGITAL COLLECTIONS<br>@ DU</h1>
			</div>
			<% include search %>
		</div>
	</div>
</div>