<div class="banner">
  <div class="banner-logo logo">
      <!-- <img id="logo-image" class="logo" src="assets/img/logo.png" alt="Site Logo"> -->
     <h1>SPECIAL COLLECTIONS @ DU</h1>
  </div>
  <% include search %>
</div>