<div class="no-side-margin">
	<div id="hero-banner">
		<div class="content">
			<div class="row">
				<div class="col-md-6">
					<div class="logo-search-form">
						<div class="logo">
						    <h1 class="display-4">Digital Collections<br>@ DU</h1>
						</div>
						<div class="home-search">
							<% include search %>
						</div>
					</div>
				</div>


				<div class="col-md-6">
					<div class="welcome-text-box">
						<div class="welcome-text">
							<strong>Digital Collections @ DU</strong> collects, preserves, and disseminates digital assets of historical or significant interest to the University Libraries and the University of Denver community. The repository contains printed materials, audiovisual content, and ephemera reflecting the history of the University, the history of the Jewish community in Denver and the Rocky Mountain region, and areas of research and academic strength at the University of Denver.
							<div class="welcome-item-count">
								Explore <strong><%= itemCount %></strong> items digitized from Special Collections
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>