<div class="banner">
  <div class="banner-logo">
      <img id="logo-image" class="logo" src="assets/img/logo.png" alt="Site Logo">
  </div>
  <div id="searchform">
      <form method="get" action="#">
        <select id="search-type">
          <% for (var i = 0; i < searchFields.length; i++) { %>
            <% for (var key in searchFields[i]) { %>
              <option value='<%- searchFields[i][key] %>'><%- key %></option>
            <% } %>
          <% } %>
        </select>
        <input type="text" placeholder="Search here..."/>
        <button type="submit"><i class="fas fa-search"></i></button>
      </form>
  </div>
</div>