<div class="copyright">
  Copyright ©2026 | All Rights Reserved | The University of Denver is an equal opportunity institution
</div>

<style>
  .copyright {
    background-color: #000000;
    text-align: center;
    color: #797979;
    font-size: 1rem;
    padding: 1.5rem;
    font-family: neue-haas-unica, sans-serif;
    margin-bottom: 0;
  }
</style>