<form id="daterange-form" class="form-inline" action="javascript:submitDateRange()">
	<label>From:</label>
	<input class="form-control" type="number" name="from" min="1" max="2050" maxlength="4"/>
	<label>To:</label>
	<input class="form-control" type="number" name="to" min="1" max="2050" maxlength="4"/>
	<button class="btn btn-default" type="submit">Submit</button>
</form>

<script type="text/javascript">
	// Add date range to the query string
	function submitDateRange() {
		var decoded = decodeURIComponent(window.location.href);
		decoded = updateUrlExpandParams(decoded);
		var url = decoded.replace(/&from=[0-9]+&to=[0-9]+/g, "") + "&" + $("#daterange-form").serialize();
		return window.location.replace(encodeURI(url));
	}

	// Remove the date range from the query string
	function removeDateRange(from, to) {
		var searchUrl = decodeURIComponent(window.location.href);
		searchUrl = updateUrlExpandParams(searchUrl);
		return encodeURI(searchUrl.replace(/&from=[0-9]+&to=[0-9]+/g, ""));
	}
</script>