<div id="facets">
	<div class="section-label">
		<h4>Refine your search</h4>
	</div>

	<!-- Retrieved from Facets lib? Controller sets variable facetContent and stores, pre render.
	<div id="facet-data">
		<%- facets %>
	</div> -->


	<div id="facet-data">
		<% for(var key in facetData) { %>
			<h4>By <%- key %>:</h4>
			<ul>
				<% for(var index of facetData[key]) { %>
					<li><a href="#"><%- index.name %></a> (<%- index.hits %>)</li>
				<% }; %>
			</ul>
		<% }; %>
	</div>


</div>