<div id="facets">
	<div class="section-label">
		<h4>Refine your search</h4>
	</div>

	<div id="facet-data">
		<% for(var key in facets) { %>
			<h4>By <%- key %>:</h4>
				<%- facets[key] %>
		<% }; %>
	</div>

	<script type="text/javascript">

		function selectFacet(facetType, facet) {

			var url, relativeUrl;

			// Convert spaces to '+' for querystring
			//facet = facet.replace(' ', '+');

			// Get current search querystring
			url = window.location.href;
			relativeUrl = "/" + url.substring(url.indexOf("repository"), url.length);

			// Add the selected facet param to the search querystring
			relativeUrl += "&f[" + facetType + "][]=" + facet;

			return relativeUrl;
		};

		function removeFacet(facetType, facet) {

			// Get the facet param string to remove from the search querystring
			var facetParam = "&f[" + facetType + "][]=" + facet;
			facetParam = facetParam.replace(/\s/g, "%20");

			// Get current search querystring
			url = window.location.href;
			relativeUrl = "/" + url.substring(url.indexOf("repository"), url.length);

			// Remove the selected facet param from the search querystring
			relativeUrl = relativeUrl.replace(facetParam, "");

			return relativeUrl;
		};

	</script>


</div>