<div id="facets">
	<div class="section-label">
		<h4>Refine your search</h4>
	</div>

	<div id="facet-data">
		<% for(var key in facets) { %>
			<h4>By <%- key %>:</h4>
				<%- facets[key] %>
		<% }; %>
	</div>

	<script type="text/javascript">
		function selectFacet(facetType, facet) {

		var url, relativeUrl;

			console.log("Select facet type:", facetType, "facet:", facet);

			// Convert spaces to '+' for querystring
			facet = facet.replace(' ', '+');

			// Add selected facet to current search url:
			url = window.location.href;
			relativeUrl = url.substring(url.indexOf("search"), url.length);
			//console.log("Url: ", relativeUrl);

			relativeUrl += "&f[" + facetType + "][]=" + facet;
			url += "&f[" + facetType + "][]=" + facet;
			console.log("Url: ", url);

			//return "search?type=All&q=Men's" + url;
			//return relativeUrl;
			//document.location.reload(relativeUrl);
			console.log("Loading...", url);

			window.location.href = url;
			self.location = url;
			//loadUrl(relativeUrl);
			//$.load(relativeUrl);




			return "/repository/search?type=All&q=Men%27sy#&f[Type][]=Still+Image";
		}

	</script>


</div>