<div id="facets">
	<div class="section-label">
		<h4>Refine your search</h4>
	</div>

	<div id="facet-data">
		<% for(var key in facets) { %>
			<h4>By <%- key %>:</h4>
				<%- facets[key] %>
		<% }; %>
	</div>

	<script type="text/javascript">

		function selectFacet(facetType, facet) {

			var url, relativeUrl;

			// Convert spaces to '+' for querystring
			facet = facet.replace(' ', '+');

			// Get current search querystring
			url = window.location.href;
			relativeUrl = "/" + url.substring(url.indexOf("repository"), url.length);

			// Add the selected facet param to the search querystring
			relativeUrl += "&f[" + facetType + "][]=" + facet;

			return relativeUrl;
		};

		function removeFacet() {

		};

	</script>


</div>