<div id="facets">
	<div class="section-label">
		<h4>Refine your search</h4>
	</div>

	<div id="facet-data">
		<% for(var key in facets) { %>
			<h4>By <%- key %>:</h4>
				<%- facets[key] %>
		<% }; %>
	</div>


</div>