	<footer>
	  <div class="container">
	      <div id="footer-links">
	          <a href="#">DU Links</a>
	      </div>
	  </div>
	</footer>
</body>

<script src="https://use.fontawesome.com/c125e4ca3b.js"></script>
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
<script src="<%- base_url %>/assets/js/jquery.validate.min.js"></script>
<!--     <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script> -->
<script src="http://vjs.zencdn.net/5.8.8/video.js"></script><!-- video.js viewer -->
<script src="<%- base_url %>/assets/js/accordion.js"></script>
<script src="<%- base_url %>/assets/js/clickevents.js"></script>

</html>