	<footer>
	  <div class="container">
	      <div class="footer-column">
	      	<div class="footer-link-list">
	      		<label>About</label>
	      		<ul>
		      		<li><a href="https://specialcollections.du.edu/about/overview">Special Collections @ DU Overview</a></li>
		      		<li><a href="https://specialcollections.du.edu/about/contact">Contact Us</a></li>
		      		<li><a href="https://specialcollections.du.edu/about/faqs">FAQs</a></li>
	      		</ul>
	      	</div>
	      </div>
	      <div class="footer-column">
	      	<div class="footer-link-list">
	      		<label>Contact</label>
	      		<ul>
		      		<li><a href="https://specialcollections.du.edu/content/copyright-information">Copyright Information</a></li>
	      		</ul>
	      	</div>
	      </div>
	      <div class="footer-column">
	      	<div class="footer-link-list">
	      		<label>Services</label>
	      		<ul>
		      		<li><a href="https://specialcollections.du.edu/services/consultation-and-training">Consultation and Training</a></li>
		      		<li><a href="https://specialcollections.du.edu/services/digital-content-management">Digital Content Management</a></li>
	      		</ul>
	      	</div>
	      </div>
	      <div class="footer-column">
	      	<div class="footer-link-list">
	      		<label>Help</label>
	      		<ul>
		      		<li><a href="https://specialcollections.du.edu/help/glossary">Glossary</a></li>
	      		</ul>
	      	</div>
	      </div>
	  </div>
	</footer>
</body>

<script src="https://use.fontawesome.com/c125e4ca3b.js"></script>
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
<script src="<%- base_url %>/assets/js/jquery.validate.min.js"></script>
<!--     <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script> -->
<script src="http://vjs.zencdn.net/5.8.8/video.js"></script><!-- video.js viewer -->
<script src="<%- base_url %>/assets/js/accordion.js"></script>
<script src="<%- base_url %>/assets/js/clickevents.js"></script>

</html>