<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Pragma" content="no-cache">
    <title>Special Collections @ DU</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0" />

    <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous"> -->
    <link rel="stylesheet" href="<%- base_url %>/assets/css/style.css?v=5.5">
    <link rel="stylesheet" href="<%- base_url %>/assets/css/responsive.css?v=2.1">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.10/css/all.css" integrity="sha384-+d0P83n9kaQMCwj8F4RJB66tzIwOKmrdb46+porD/OvrJ+37WqIM7UoBtwHO6Nlg" crossorigin="anonymous">
    <link href="http://vjs.zencdn.net/5.8.8/video-js.css" rel="stylesheet"><!-- video.js viewer -->
</head>
<body class="">

<header class="header" id="du-header">
	<div id="du-red-header-inner">
      <span id="du-logo">
        <a href="http://www.du.edu/index.html" title="University of Denver Home Page" target="_blank"><img src="//www.du.edu/_resources/images/nav/logo2.gif" alt="University of Denver" /></a>
      </span> 
      <span id="app-title"></span>
    </div>
</header>