<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Pragma" content="no-cache">
    <title>Special Collections @ DU | University of Denver</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0" />
    <link rel="stylesheet" href="<%- base_url %>/assets/css/style.css">
    <link rel="stylesheet" href="<%- base_url %>/assets/css/responsive.css?v=2.1">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.10/css/all.css" integrity="sha384-+d0P83n9kaQMCwj8F4RJB66tzIwOKmrdb46+porD/OvrJ+37WqIM7UoBtwHO6Nlg" crossorigin="anonymous">
    <link href="//vjs.zencdn.net/5.8.8/video-js.css" rel="stylesheet"><!-- video.js viewer -->

    <!-- Google Analytics -->
    <script>
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

        ga('create', 'UA-66288115-2', 'auto');
        ga('send', 'pageview');
    </script>
    <!-- End Google Analytics -->
</head>
<body class="">

<header id="du-header" class="header">
	<div id="du-red-header-inner">
    <span id="du-logo">
      <a href="http://www.du.edu/index.html" title="University of Denver Home Page" target="_blank"><img src="//www.du.edu/_resources/images/nav/logo2.gif" alt="University of Denver" /></a>
    </span> 

    <!-- TEMP -->
    <span class="maintenance"><br><br><strong>&nbsp;THIS SITE IS CURRENTLY UNDER MAINTENANCE. PLEASE EXCUSE ANY ISSUES IN APPEARANCE AND IN FUNCTIONALITY.</strong></span>

    <span id="app-title"></span>
  </div>

  <style>
    .maintenance {
     background-color: #8b2332;
     height: 50px;
     padding: 4px;
     margin-left: 5px;
     color: white;
    }
  </style>
</header>