<div class="paginator">
  <span><< <a href="#">Previous</a> | <strong><%= pagination.beginCount %> - <%= pagination.pageHits %></strong> of <strong><%= pagination.totalHits %></strong> | <a href="#">Next</a> >></span>
</div>