<div class="searchform">
  <form class="form-inline" method="get" action="<%= root_url %>/search">
    <div id="search-options" class="form-group">
      <select name="type" class="search-element">
        <option value="all">All</option>
        <% for (var i = 0; i < searchFields.length; i++) { %>
          <% for (var key in searchFields[i]) { %>
            <option value='<%- key %>'><%- key %></option>
          <% } %>
        <% } %>
      </select>
    </div>
    <div id="search-box" class="form-group">
      <input class="search-element" type="text" name="q" placeholder="Search Keyword(s)" />
    </div>
    <div id="search-submit" class="form-group">
      <button class="search-element" type="submit" alt="Search"><i class="fa fa-search"></i> Search</button>
    </div>
  </form>
</div>