<div id="searchform">
  <form method="get" action="/repository/search">
    <select id="search-type">
      <% for (var i = 0; i < searchFields.length; i++) { %>
        <% for (var key in searchFields[i]) { %>
          <option value='<%- searchFields[i][key] %>'><%- key %></option>
        <% } %>
      <% } %>
    </select>
    <input type="text" name="q" placeholder="Search Keyword(s)" required />
    <button type="submit"><i class="fas fa-search"></i></button>
  </form>
</div>