<div id="search">
	<form id="search-form">
		<div class="form-group">
	    	<input type="text" class="form-control" id="search-input" aria-describedby="searchHelp" placeholder="Search">
	    	<button type="submit" class="btn btn-primary" id="search-button"></button>
	  	</div>
	</form>
</div>