<div id="title-banner">
    <div class="banner-content content">
        <div class="row">
            <div class="col-md-8 title-text">
                <a class="sm-title" href="<%= root_url %>">University Libraries
                <h1>SPECIAL COLLECTIONS <span class="highlight-text">@ DU</span></h1></a>
            </div>

            <div class="col-md-4 banner-search">
<!--                 <form method="get" action="<%= root_url %>/search">
                    <input type="text" name="q[]" placeholder="Search Repository" title="Search Repository"/>
                    <input type="hidden" name="type[]" value="contains">
                    <input type="hidden" name="bool[]" value="or">
                    <input type="hidden" name="field[]" value="all">
                    <button alt="Search" title="Submit"><i class="fas fa-search"></i></button>
                </form> -->
            </div>
        </div>
    </div>
</div>
