<% include partials/header %>


<div id="main">

	<% include partials/banner %>

	<% include partials/search %>

	<div id="content">

		
		<div id="collections">
			<div id="collections-inner">
				<% for (var i = 0; i < collections.length; i++) { %>
					<a href="/repository/object/<%= collections[i].pid %>"><img src="<%= collections[i].tn %>" width="150" height="250" /></a>
				<% } %>
			</div>
		</div>
	</div>

</div>

<% include partials/footer %>