<% include partials/header %>

<div id="main">
	<span id="site-title">Special Collections @ DU</span>

	<% include partials/banner %>

	<% include partials/search %>

	<div id="content">
		<div id="pagination-header">
			<span><a href="#">1</a><a href="#">2</a><a href="#">Next ></a><a href="#">Last >></a></span>
		</div>



		
		<div class="basic-collection-view">
		  	<div class="basic-collection-grid clearfix">

				<% for (var i = 0; i < collections.length; i++) { %>
				    <dl class="basic-collection-object collection">
				        <dt class="basic-collection-thumb"><a href="/repository/object/<%= collections[i].pid %>"><img src="<%= collections[i].tn %>" /></a></dt>
				        <dd class="basic-collection-caption">Title</dd>
				    </dl>
				<% } %>

			</div>
		</div>

	</div> <!-- content -->
</div>

<% include partials/footer %>




