<% include partials/header %>

<% include partials/banner %>

<div id="main" class="content container main-front-page">
	<div id="site-text" class="container">
        <div class="row">
            <article class="col-lg-12 welcomeBox">
                <p class="title1"><span>Welcome</span> to Special Collections @ DU</p>
                <hr>
                <p class="description">This site collects, preserves, and disseminates digital assets of historical or significant interest to the University Libraries and the University of Denver community. The repository contains printed materials, audiovisual content, and ephemera reflecting the history of the University, the history of the Jewish community in Denver and the Rocky Mountain region, and areas of research and academic strength at the University of Denver.</p>
            </article>
        </div>
    </div>

    <div id="content-wrapper">
      <div id="sidebar-wrapper" class="row">
        <div class="content-col-3">
          <div id="sidebar">
            <h3>Browse by</h3>
            <hr>

            <% include partials/frontpage-facets %>

          </div>
        </div>
        <div class="content-col-9">
        	<div id="collections">
	            <h3>Collections</h3>
	            <hr>

	            <% if(error) { %>
		  			<h4><%- error %></h4>
		  		<% } %>
<!-- 	            <div id="collection-grid">

	              <div class="content-col-3">
	                  <div class="item">
	                      <div class="item-thumb">
	                          <img src="assets/img/dummy/d1.jpg" alt="Thumb Image">
	                      </div>
	                      <div class="item-details">
	                          <h3 class="item-title"><a target="_blank" href="index-01.html">Collection 01</a></h3>
	                      </div>
	                  </div>
	              </div>
	              <div class="content-col-3">
	                  <div class="item">
	                      <div class="item-thumb">
	                          <img src="assets/img/dummy/d2.jpg" alt="Thumb Image">
	                      </div>
	                      <div class="item-details">
	                          <h3 class="item-title"><a target="_blank" href="index-02.html">Collection 02</a></h3>
	                      </div>
	                  </div>
	              </div>
	              
	          	</div> -->

        	</div>
      	</div>
      </div>
    </div>




</div><!-- #main -->

<% include partials/footer %>




