<% include partials/header %>

<% include partials/search %>

<div id="content">
	<h3>Collections</h3>

	<div id="collections">

		<% for (var i = 0; i < collections.length; i++) { %>
			<img src="<%= collections[i].tn %>" width="150" height="250" />
		<% } %>

	</div>
</div>

<% include partials/footer %>