<% include partials/header %>

<% include partials/search %>

<div id="content">
	<h3>Collections</h3>

	<div id="collections">
		<img src="<%= collections[0].tn %>" width="195" height="294"/>
	</div>
</div>

<% include partials/footer %>