<%- include('partials/header') -%>
<%- include('partials/title-banner') -%>

<div id="main" class="content container">
	<div class="info-content">
		<p><h5>Digital Collections @ DU has moved to an improved platform</h5></p>
		<br><br>
		<p>Access the new website by using one of the links below. You will need to perform a keyword or advanced search to find the collection or object you are trying to view.</p>
		<br>
		<a href="https://specialcollections.du.edu" style="display: inline-block; text-decoration: underline;">Keyword Search</a><br>
		<a href="https://specialcollections.du.edu/advanced-search" style="margin-top: 15px; display: inline-block; text-decoration: underline;">Advanced Search</a>
	</div>
</div>

<%- include('partials/footer') -%>