<% include partials/header %>

<div id="main">

	<% include partials/banner %>

	<div id="content">
		
		<div id="viewer-section">
			<%- viewer %>
		</div>

		
		<div id="object-data">
			<h2>This is the title</h2>
			<p>
				This is the description This is the description This is the description This is the description This is the description This is the description This is the description This is the description This is the description This is the description This is the description This is the description This is the description This is the description This is the description This is the description This is the description This is the description This is the description This is the description This is the description This is the description This is the description .
			</p>
		</div>

		<div id="object-controls">
			<ul>
				<li><a href="#">Show Details</a></li>
				<li><a href="#">Manage</a></li>
			</ul>
		</div>

	</div>

</div>

<% include partials/footer %>