<% include partials/header %>

<div id="main">

	<% include partials/banner %>

	<div id="content">

		<div id="object-title"><h3 style="margin: 0 auto; width: 80%">1987 University of Denver Men's Baseball Team</h3></div>
		
		<div id="viewer-section">
			<%- viewer %>
		</div>

		
		<div id="object-data">
			<h2>Description</h2>
			<p>
				This is the description This is the description This is the description This is the description This is the description This is the description This is the description This is the description This is the description This is the description This is the description This is the description This is the description This is the description This is the description This is the description This is the description This is the description This is the description This is the description This is the description This is the description This is the description .
			</p>
		</div>

		<div id="object-controls">
			<ul>
				<li><a href="#">Show Details</a></li>
				<li><a href="#">Manage</a></li>
			</ul>
		</div>

	</div>

</div>

<% include partials/footer %>