<% include partials/header %>

<div id="main">
	<span id="site-title">Special Collections @ DU</span>
	<% include partials/banner %>

	<div id="content">

		<!-- <div id="object-title"><h3 style="margin: 0 auto; width: 80%">1987 University of Denver Men's Baseball Team</h3></div> -->
		
		<div id="viewer-section">
			<%- viewer %>
		</div>

		<div id="object-data">
			<% for (var key in mods) { %>
				<h3><%= key %></h3>
				<p><%= mods[key] %></p>
			<% } %>
		</div>

		<div id="object-controls">
			<button type="button" class="btn" data-toggle="collapse" data-target="#metadata-display">Details</button>
		</div>

		<div id="metadata-display" class="collapse">
			<table class="table">
				<tr><td>Title:</td><td>1987 University of Denver Men's Baseball Team</td></tr>
				<tr><td>Creator:</td><td>University of Denver</td></tr>
				<tr><td>Type of Resource:</td><td>Still Image</td></tr>
				<tr><td>Topics:</td><td>Athletics</td></tr>
				<tr><td>Handle:</td><td>http://hdl.handle.net/10176/codu:70104</td></tr>
			</table>
		</div>

	</div>

</div>

<% include partials/footer %>