<% include partials/header %>

<% include partials/search %>

<div id="content">

	<div id="search-results">

		<% if (results && results.length > 0) { %>

			<dl id="search-results-list" class="">
			<% results.forEach(function(result) { %>
				<dt>Title</dt>
				<dd><%- result.title %></dd>
				

				<% if (result.namePersonal) { %>
					<dt>Creator</dt>
					<dd><%- result.namePersonal %></dd>
					
				<% } %>

				<dt>Description</dt>
				<dd><%- result.abstract %></dd>
				
			<% }); %>
			</dl>

		<% } else { %>
			<h3>No results found</h3>
		<% } %>

	</div>
</div>

<% include partials/footer %>