<% include partials/header %>

<h2>Test</h2>

<!-- <iframe src="http://www.pdf995.com/samples/pdf.pdf" width="400" height="400" type="application/pdf" /> -->
<iframe src="http://localhost:9006/repository/datastream/codu:65237/OBJ" width="400" height="400" type="application/pdf" />

<h6>OK</h6>

<% include partials/footer %>
