<% include partials/headerUV %>

<!-- <div style="margin-top: 100px">
	<h2>Test</h2> -->

    <title>UV Hello World</title>
    <style>
        #uv {
            width: 800px;
            height: 600px;
        }
    </style>

    
    <div id="uv" class="uv" style="margin-top: 100px"></div>

    <script>
        window.addEventListener('uvLoaded', function (e) {
            createUV('#uv', {
                iiifResourceUri: 'http://wellcomelibrary.org/iiif/b18035723/manifest',
                configUri: '<%- base_url %>/libs/universalviewer/uv-config.json'
            }, new UV.URLDataProvider());
            console.log("UV ADDED");
        }, false);
    </script>

    

<!--  	<h6>OK</h6>
</div> -->

<% include partials/footerUV %> 
