<% include partials/header %>
<br>
<title>Kaltura Test</title>
<style>

</style>

<h2>Kaltura Test</h2>

<!-- <div>
<script src="https://cdnapisec.kaltura.com/p/2357732/sp/235773200/embedIframeJs/uiconf_id/41433862/partner_id/2357732?autoembed=true&entry_id=1_pmh226et&playerId=kaltura_player_1549920112&cache_st=1549920112&width=100%&height=100%&flashvars[streamerType]=auto"></script>
</div> -->

<div>
<%- viewer %>
</div>
