/* Extra small devices (phones, up to 479px) */
@media screen and (max-width: 479px) {
  .logo h1 {
    font-size: 2.4em;
  }

  div#hero-banner {
    background-size: initial;
  }

  div#hero-banner .logo {
      top: 80px;
  }

  div.logo h1 {
    min-height: 138px;
  }

  div.intro-text {
      margin-top: 48px;
  }

  .wide-container {
    width: 88%;
  }

  .welcomeBox .title1 {
      font-size: 30px;
    }

    .welcomeBox .description {
      font-size: 0.95em;
    }

  .section {
      margin-top: 40px;
  }

  .searchform {
    top: 65px;
    width: 80%;
  }

  .form-group {
    width: 100%;
    margin-bottom: 0;
  }

  div#sidebar {
    padding: 0;
  }

  div.facets ul {
      font-size: 13px;
  }

  .title-text h1 {
      margin: 0;
  }

  .sm-title {
    font-size: 13px;
  }
  
  .title {
    font-size: 18px;
  }

  .title-text {
    left: 5vw;
  }
}

@media screen and (max-width: 575px) {
  div#collections > .row > div:not(:first-child) dl.item {
      margin-top: 80px;
  }

  div#collections .row:not(:first-child) {
      border-top-style: none;
  }
}

@media screen and (max-width: 767px) {
  body {
      font-size: 14px;
  }

  div.banner-search {
      right: 0;
      margin-top: 20px;
  }

  div.banner-search > form {
      float: none;
      margin: 0 auto; 
      width: 79%;
  }

  div#title-banner {
    height: 180px;
  }

  div#search-results-wrapper {
    margin-top: 45px;
  }

  div.collections-wrapper {
    margin-top: 40px;
  }

  div.facets .panel {
    padding: 10px 16px;
  }

  div#collections .row:not(:first-child) {
    margin-top: 8vw;
  }
}

@media screen and (max-width: 991px) {

}

@media screen and (max-width: 1223px) {
  div.paginator {
    margin: 35px 0 0 0;
  }

  .content {
    width: 95%;
  }
}

/* Super Small devices */
@media (min-width: 320px) and (max-width: 479px) {
  div.banner-search > form {
      width: 90%;
  }

  div#title-banner {
      height: 160px;
  }
}

/* Small devices (phones, up to 575px) */
@media (min-width: 480px) and (max-width: 575px) {
  .logo h1 {
    font-size: 2.5em;
  }

  div.logo h1 {
    min-height: 153px;
  }

  div.intro-text {
      margin-top: 90px;
  }

  .welcomeBox .title1 {
      font-size: 38px;
    }

  .section {
      margin-top: 50px;
  }
  
  .searchform {
    top: 60px;
    width: 90%;
  }

  .searchform input {
    padding: 15px 7px;
  }

  .search-element {
      height: 40px;
  }

  .wide-container {
    width: 78%;
  }
}

@media (min-width: 576px) and (max-width: 767px) {
  .logo h1 {
    font-size: 2.6em;
  }

  div.intro-text {
      margin-top: 86px;
  }

  .welcomeBox .title1 {
      font-size: 31px;
    }

    .welcomeBox .description {
      font-size: 0.9em;
    }

  .section {
      margin-top: 50px;
  }

  .searchform {
      width: 80%;
  }

  .search-element {
      height: 40px;
  }

  .wide-container {
    width: 85%;
  }

  .item-title a {
    font-size: 14px;
  }
}
/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991px) {
  div.section h3 {
    font-size: 1.3em;
  }

  .logo h1 {
    font-size: 2.85em;
  }

  div.intro-text {
      margin-top: 100px;
  }

  .wide-container {
    width: 95%;
  }

  .welcomeBox .title1 {
      font-size: 37px;
    }

    .welcomeBox .description {
      font-size: 0.9em;
    }

  .section {
      margin-top: 70px;
  }

  .searchform {
    width: 60%;
  }

  .search-element {
      height: 40px;
  }

  div#sidebar {
      padding: 0;
  }

  .facet-thumbnail > img {
      width: 17px;
      height: 18px;
  }

  div.facets .facet-count > div {
      padding-right: 2px;
  }

  div.facets ul {
      font-size: 10px;
  }

  .item-title a {
    font-size: 12px;
  }

  div.facets .panel {
      padding: 10px 0px;
  }

  div.home-facets {
    margin: 2.5em 0;
  }
}
/* tablets/desktops and up ----------- */
@media (min-width: 992px) and (max-width: 1223px) {
  .logo h1 {
      font-size: 3.4em;
  }

  div#sidebar {
      padding: 0;
  }

  .wide-container {
      width: 93%;
  }

  .facet-thumbnail > img {
      width: 22px;
      height: 20px;
  }

  div.facets .facet-count > div {
      padding-right: 0px;
  }

  div.facets ul {
      font-size: 11px;
  }

  .item-title a {
      font-size: 13px;
  }

  div.facets .panel {
      padding: 10px 6px;
  }
}
/* Desktops and laptops ----------- */
@media only screen and (min-width : 1224px) {
/* Styles */
  .logo h1 {
      font-size: 4.4em;
  }

  div.facets .panel {
      padding: 10px 6px;
  }
}

@media (min-width: 1224px) and (max-width: 1399px) {
  div.facets .panel {
      padding: 10px 3px;
  }

  div.facets ul {
      font-size: 13px;
  }

  div.facets .list-group-item {
    padding: 0.4rem 14px;
    border: none;
  }
}

@media (min-width: 1400px) and (max-width: 1699px) {
  div.facets .panel {
      padding: 10px 8px;
  }

  div#sidebar {
      padding: 0;
  }

  .facet-thumbnail > img {
      width: 24px;
      height: 24px;
  }

  div.facets ul {
      font-size: 13px;
  }
}

/* Large screens ----------- */
@media only screen  and (min-width : 1824px) {
/* Styles */
}