/* Responsive styles */

@media only screen and (min-width: 1750px) {
  div.banner-logo {
    width: 64%;
  }

  .logo h1 {
    font-size: 5em;
  }

  div#collection-grid.homepage dl.item  > dt {
    height: 283px;
  }

  footer .footer-column {
    width: 23.5%;
  }
}

@media only screen and (min-width: 1750px) and (max-width: 1879px) {
  div.banner-logo {
    width: 72%;
  }

  div#collection-grid dl.item  > dt {
   /* height: 140px;*/
  }

  footer .footer-column {
    width: 23.5%;
  }
}

@media only screen and (min-width: 1700px) and (max-width: 1749px) { 
  div.banner-logo {
   /* width: 55%;*/
  }

  .logo h1 {
    font-size: 4.5em;
  }

  div#collection-grid dl.item  > dt {
    /*height: 105px;*/
  }

  div#collection-grid.homepage dl.item  > dt {
    height: 277px;
  }

  div.slider-section > div {
    width: 98%;
  }

  img.lg-tn-row {
      width: 195px;
  }

  footer .footer-column {
    width: 23%;
  }
}

@media only screen and (min-width: 1500px) and (max-width: 1699px) { 

  .container {
      margin: auto;
      /*width: 82%;*/
      width: 89%;
  }

  .content-col-3 {
    width: 20.999999%;
  }

  .logo h1 {
    font-size: 4.5em;
  }

  div#collection-grid dl.item  > dt {
    /*height: 105px;*/
  }

  div#collection-grid.homepage dl.item  > dt {
    height: 277px;
  }

  .item-title a {
    font-size: 16px;
  }
  
  div.slider-section > div {
    width: 95%;
  }

  div#searchform {
    width: 47%;
  }

  div#searchform input {
    width: 60%;
  }

  div.banner-logo {
    width: 77%;
  }

  img.lg-tn-row {
      width: 175px;
  }

  .facet-count {
    margin-right: 20px;
  }

  div#collection-grid {
    margin-left: 23px;
  }

  div#viewer-section {
    /*height: 395px;*/
  }

  div#viewer-wrapper {
    width: 50%;
  }

  footer .footer-column {
    width: 23%;
  }
}

@media only screen and (min-width: 1350px) and (max-width: 1499px) {
  .logo h1 {
    font-size: 4.5em;
  }

  div#collection-grid.homepage dl.item > dt {
    height: 246px;
  }

  footer .footer-column {
    width: 22.5%;
  }
}

@media only screen and (min-width: 1250px) and (max-width: 1349px) {
  div#collection-grid.homepage dl.item  > dt {
    height: 162px;
  }

  .logo h1 {
    font-size: 4em;
  }

  footer .footer-column {
    width: 22.5%;
  }
}

@media only screen and (min-width: 1250px) and (max-width: 1499px) { 

  .container {
      margin: auto;
      width: 83%;
      width: 91%;
  }

  div#metadata-section .container {
    width: 75%;
  }

  .content-col-9 {
    width: 71.999999%;
  }

  div#results-grid .item-thumb img {
    width: 85%;
  }

  div#collection-grid dl.item  > dt {
    /*height: 92px;*/
  }

  div#collection-grid.homepage dl.item  > dt {
    height: 214px;
  }

  .item-title a {
    font-size: 13px;
  }

  div#banner-box {
      width: 490px;
  }

  div.banner-logo {
    width: 80%;
  }

  span#site-title {
/*    font-size: 20px;
    top: 0.93em;*/
  }

  div#banner-text {
    height: 290px;
  }

  div#searchform {
    width: 50%;
  }

  div#searchform input {
    width: 59%;
  }

  div#collection-grid {
    margin-left: 27px;
  }

  div.slider-section > div {
    width: 97%;
  }

  img.small-tn-row {
    width: 90px;
  }

  img.lg-tn-row {
      width: 152px;
  }

  div#results-grid .item-thumb {
    height: 120px;
  }

  div#results-grid .item-title {
    font-size: 13px;
  }

  .accordion {
    padding: 7px;
  }

  div.collection-thumb > img {
    width: 84%;
  }

  div#facets {
    font-size: 15px;
    margin: 2.5em 0px;
  }

  .facet-name {
    margin-left: 14px;
  }

  .facet-count {
    margin-right: 18px;
  }

  div#facets > div.panel {
    padding: 14px;
  }

  div#viewer-section {
    /*height: 395px;*/
  }

  div#viewer-wrapper {
    width: 50%;
  }
}

@media only screen and (min-width: 1350px) and (max-width: 1499px) {
  .logo h1 {
    font-size: 4em;
  }

  div#viewer-section {
    /*height: 395px;*/
  }

  div#viewer-wrapper {
    width: 56%;
  }

  div#collection-grid.homepage dl.item > dt {
    height: 253px;
  }

  footer {
    font-size: 13px;
    padding: 4.5em 1em 1em 5em;
  }
}

@media only screen and (min-width: 1250px) and (max-width: 1349px) {
  .logo h1 {
    font-size: 4em;
  }

  div#viewer-section {
    /*height: 395px;*/
  }

  div#viewer-wrapper {
    width: 61%;
  }

  div#collection-grid.homepage div.item-thumb {
    /*height: 158px;*/
  }

  div#collection-grid.homepage dl.item > dt {
    height: 230px;
  }

  footer {
    font-size: 12px;
    padding: 3em 1em 1em 5em;
  }
}

@media only screen and (max-width: 1249px) { 

  .logo h1 {
    font-size: 4em;
  }

  .container {
    width: 100%;
  }

  .content-col-3 {
    width: 20.999999%;
  }

  .content-col-9 {
    width: 70.999999%;
  }

  div#collection-grid.homepage dl.item > dt {
    height: 232px;
  }

  div#results-grid .item-thumb img {
    width: 78%;
  }

  div.banner-logo {
    width: 100%;
  }

  h3.item-title a {
    font-size: 13px;
  }

  div#banner-box {
      width: 490px;
  }

  span#site-title {
/*    font-size: 20px;
    top: 0.93em;*/
  }

  div#banner-text {
    height: 290px;
  }

  div#searchform {
    width: 60%;
  }

  div#searchform input {
    width: 59%;
  }

  div.slider-section > div {
    width: 98%;
  }

  div#collection-grid {
    margin-left: 0px;
  }

  img.small-tn-row {
    width: 84px;
  }

  div#results-grid .item-thumb {
    height: 120px;
  }

  div#results-grid .item-thumb img {
    width: 89%;
  }

  div.collection-thumb > img {
    width: 79%;
  }

  div#facets {
    font-size: 14px;
    margin: 2.5em 0px;
  }

  .facet-name {
    margin-left: 10px;
  }

  .facet-count {
    margin-right: 18px;
  }

  div#facets > div.panel {
    padding: 12px;
  }

  footer {
    font-size: 12px;
    padding: 3em 1em 1em 5em;
  }

  footer .footer-column {
    width: 21.5%;
  }
}