@import url('https://fonts.googleapis.com/css?family=Lato:400,700|Poppins:400,700|Raleway');
@import url(//fonts.googleapis.com/css?family=Montserrat);
@import url(//fonts.googleapis.com/css?family=Cinzel);
@import url(//fonts.googleapis.com/css?family=Macondo+Swash+Caps);

html,
body {
  background: white;
  font-family: 'Montserrat', 'Poppins', 'Raleway', sans-serif;
  font-size: 16px;
  line-height: 1;
  min-height: 100%;
  margin: 0 !important;
  padding: 0 !important;
  position: relative;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  text-rendering: optimizeLegibility !important;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-overflow-scrolling: touch;
  -moz-overflow-scrolling: touch;
  -ms-overflow-scrolling: touch;
  -o-overflow-scrolling: touch;
  overflow-scrolling: touch;
  color: black;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

h1, h2, h3 {
  font-family: "Montserrat";
  font-weight: 100;
  font-size: 1.5em;
}

h3 {
  color: #8b2332;
  text-shadow: 0px 0px 0.01em #181818;
  -webkit-margin-after: 0px;
}

h2, h4 {
  font-size: 1.1em;
  font-weight: bold;
  -webkit-margin-after: 0px;
}

button > a {
  color: inherit;
}

button > a:hover {
  text-decoration: none;
}

a:hover,
button:hover {
  cursor: pointer;
}

a:hover {
  color: inherit;
  text-decoration: none;
}

p {
  line-height: 1.5em;
}

ul {
  -webkit-padding-start: 10px;
  list-style-type: none;
}

header {
  background: #8b2332;
  height: 50px;
  position: absolute;
  top: 0;
  width: 100%;
}

main {
  padding-top: 50px;
  /*padding-bottom: 230px;*/
  /*min-height: 538px;*/
  min-height: 100vh;
}

.btn-nostyle {
  height: auto;
  border-style: none;
  background-color: initial;
}

.float-left {
  float: left;
}

.float-right {
  float: right;
}

.content-section {
  padding: 50px 0 50px 0;
}

.col-md-1-nostack {
  -ms-flex: 0 0 8.333333%;
  flex: 0 0 8.333333%;
  max-width: 8.333333%;
}

.col-md-2-nostack {
  -ms-flex: 0 0 16.666667%;
  flex: 0 0 16.666667%;
  max-width: 16.666667%;
}

.col-md-3-nostack {
  -ms-flex: 0 0 25%;
  flex: 0 0 25%;
  max-width: 25%;
}

.col-md-4-nostack {
  -ms-flex: 33.333333%;
  max-width: 33.333333%;
  flex: 0 0 33.333333%;
}

.col-md-6-nostack {
  -ms-flex: 0 0 50%;
  flex: 0 0 50%;
  max-width: 50%;
}

.col-md-8-nostack {
  -ms-flex: 0 0 66.666667%;
  flex: 0 0 66.666667%;
  max-width: 66.666667%;
}

.col-md-9-nostack {
  -ms-flex: 0 0 75%;
  flex: 0 0 75%;
  max-width: 75%;
}

.col-md-10-nostack {
  -ms-flex: 0 0 83.333333%;
  flex: 0 0 83.333333%;
  max-width: 83.333333%;
}

.content {
  margin-left: auto;
  margin-right: auto;
  width: 88%;
}

.no-side-margin {
  margin-right: 0;
  margin-left: 0;
}

.logo {
  text-align: center;
}

.logo h1 {
  font-family: "Montserrat";
  color: white;
  font-weight: bolder;
  font-size: 4vw;
  margin: 0;
}

.table-label {

}

.title {
  font-weight: 400;
  font-style: normal;
}

.title span {
  white-space: normal !important;
}

.sm-title {
  font-size: 18px;
  font-family: "Montserrat";
  display: block;
  color: #333333;
  text-decoration: none;
}

.highlight-text {
  color: #8b2332;
  border-color: #8b2332;
}

.img-responsive {
  display: block;
  max-width: 100%;
  height: auto;
}

.floatbox-right {
  position: relative;
  float: right;
  padding: 1.5em;
}

.accordion {
  color: #444;
  cursor: pointer;
  padding: 10px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
  transition: 1.4s;
}

.panel {
  padding: 0 18px;
  background-color: white;
  overflow: hidden;
  /*color: #181818;*/
}

.panel-collapsed {
  display: none;
}

.active, .collapsible:hover {
  background-color: #555;
}

.row {
  display: flex;
  margin-right: 0;
  margin-left: 0;
}

.bottom-page-margin {
  margin-bottom: 80px;
}

.no-top-bottom-margin {
  margin-top: 0 !important;
  margin-bottom: 0 !important;
}

.section {
  margin: 0 auto;
  margin-top: 40px;
}

.highlight-text {
  color: #8b2332;
  border-color: #8b2332;
}

.clickable:hover {
  cursor: pointer;
}

.icon-link-right i {
  margin-right: 7px;
}

.icon-link-left i {
  margin-left: 7px;
}

div.error-page {
  min-height: 500px;
  margin: 10vw 50px 0 50px;
  text-align: center;
}

div#main-wrapper {
  max-width: 2000px;
  margin: 0 auto;
  background: white;
  /*height: 100vh;*/
  min-height: 100%;
  position: relative;
}

div#frontpage-content {
  margin-top: 65px;
}

main > .wrapper {
  padding-top: 0 !important;
  padding-bottom: 0 !important;
  margin-bottom: 150px;
}

a.sm-title:hover {
  text-decoration: none;
}

div.header-logo {
  height: 40px;
  width: 140px;
  position: relative;
  top: 5px;
  left: -9px;
}

div.header-logo img {
  max-height: 100%;
  max-width: 100%;
}

/* Begin search banner */
div.banner-search {
  /*position: relative;
  top: 32px;*/
  margin: 48px auto 0 auto;
  width: 30%;
}

div.banner-search input {
  width: 70%;
  height: 34px;
  border-width: 1px;
  border-style: solid;
  border-color: #aaa;
  padding: 6px;
}

div.banner-search button {
  width: 28%;
  height: 34px;
  position: relative;
  top:0px;
  right: 5px;
  background-color: #e5e3e1;
  border-style: solid;
  border-color: #aaa;
  border-width: 1px;

  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

div#title-banner {
  height: 100px;
  border-bottom-color: #e5e3e1;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-top-style: solid;
  border-top-width: 1px;
}

.title-text {
  padding-top: 0;
  position: relative;
  top: 23px;
  width: 450px;
}

.title-text h1 {
  margin: 5px 0 0 0;
}

.title {
  text-transform: uppercase;
  font-size: 28px;
  font-family: "Montserrat";
  color: #333333;
  line-height: 1em;
  display: inline-block;
  text-decoration: none;
  font-weight: 100;
}

.sm-title {
  font-size: 18px;
  font-family: "Montserrat";
  display: block;
  color: #333333;
  text-decoration: none;
}
/* End search banner */

div#hero-banner {
  height: 480px;
  background-color: grey;
  background-image: url(../img/aac-loft3-2_high.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: scroll;
}

div#hero-banner .logo {
  position: relative;
  top: 116px;
}

div.intro-text {
  margin-top: 100px;
  width: 71%;
}

.search-element {
  height: 40px;
  width: 100%;
}

#show-facets {
  color: blue;
}

div.facet-breadcrumbs a {
  text-decoration: underline;
  margin-left: 20px;
  color: inherit;
}

input.search-element {
  padding: 0 15px;
}

.searchform {
  width: 50%;
  margin: 0 auto;
  position: relative;
  top: 174px;
  max-width: 800px;
}

.searchform h4 {
  color:  #fff;
  text-align: center;
  padding: 0 7px;
}

div.searchform form,
div.banner-search form {
  width: 100%;
}

.searchform select {
  border-style: none;
  border-radius: 0;
  padding: 6px;
  padding-left: 0.6em;
  width: 100%;
  background-color: #e5e3e1;
  font-size: 16px;
  -webkit-border-radius: 0;  /* Safari 3-4, iOS 1-3.2, Android 1.6- */    
  -moz-border-radius: 0;  /* Firefox 1-3.6 */     
  border-radius: 0;  /* Opera 10.5, IE 9, Safari 5, Chrome, Firefox 4, iOS 4, Android 2.1+ */
}

.searchform input {
  width: 100%;
  border-style: none;
  padding: 20px 15px;
  font-size: 16px;
}

.searchform button {
  background-color: #8b2332;
  border-bottom-style: none;
  border-top-style: none;
  border-right-style: none;
  border-left-style: none;
  padding: 9px;
  width: 100%;
  color: #e5e3e1;
  font-size: 18px;
  font-family: 'Montserrat', 'Poppins', 'Raleway', sans-serif;
  overflow: hidden;
}

.searchform button i {
  color: #e5e3e1;
  font-size: 20px;
  padding-bottom:40px;
}

.searchform span a {
  position: relative;
  float: right;
  top: 10px;
  right: 0;
  color: white;
  text-decoration: underline;
}

div.searchform .search-box {
  width: 60%;
}

form#advanced-search .form-inline {
  margin-top: 20px;
}

#advanced-search #advanced-search-query-row-1 .form-group:first-child {
  display: none;
}

div.advanced-search-form-controls {
  position: relative;
  top: 40px;
}

#advanced-search-submit {
  position: relative;
  top: 40px;
}

div.page-form {
  padding: 20px;
}

div.page-form button {
  height: 30px;
}

div.page-form .form-group {
  margin-right: 10px;
}

div.sidebar-search #search-options {
  width: 20%;
}

div.sidebar-search .search-box {
  width: 60%;
}

div.sidebar-search .search-submit {
  width: 20%;
}

div.sidebar-search .search-element {
  height: 30px;
}

.welcomeBox {
  text-align: center;
}

.welcomeBox hr {
  margin: 32px 0 !important;
}

.welcomeBox .title1 > span {
  color: #8b2332;
}

.welcomeBox .title1 {
  font-size: 43px;
  font-family: 'Oswald';
  font-weight: 400;
  color: #715657;
  text-transform: uppercase;
  margin-top: -5px;
  margin-bottom: 1px;
}

.welcomeBox .description {
  font: 1.1em 'Open Sans', "Helvetica Neue", Helvetica, sans-serif;
  line-height: 24px;
  color: #797878;
  text-align: left;
}

#home-search {
  margin-top: 15px;
}

#home-search .form-group {
  width: 20%;
}

#home-search .search-box {
  width: 60%;
}

div.left-float-anchor-list {
  float: left;
  margin-bottom: 15px;
}

div.left-float-anchor-list a {
  color: initial;
  text-decoration: underline;
}

div#sidebar {
  padding: 0 15px;
}

div.sidebar-section {
  margin-bottom: 40px;
}

div.paginator {
  margin: 35px 0 10px 15px;
}

div.paginator a {
  text-decoration: none;
  color: inherit;
  line-height: 30px;
}

div.paginator-nav {
  padding-left: 0;
}

div.paginator > span {
  color: #555351;
}

div.paginator > span > strong {
  color: #181818;
}

div.paginator-pages a {
  color: inherit;
  text-decoration: none;
}

div.paginator-pages a + a {
  margin-left: 10px;
}

div#home-collections form#goto-page-form {
  display: none;
}

form#goto-page-form {
  margin: 15px 0 0 30px;
}

input#set-page-number {
  width: 75px;
  margin-left: 8px;
  padding-left: 5px;
}

button#set-page-number-button {
    padding: .075rem .75rem;
    position: relative;
    left: 10px;
    bottom: 2px;
}

/* Begin facet section */
div.home-facets {
  margin: 2.5em 0.5em;
}

div#collections-window span.facet-name {
  width: 98%;
}

div.collections-wrapper > h2 {
  display: inline;
}

div.facets .facet-count > div {
  float: right;
  padding-right: 7px;
}

div.facets .list-group-item {
  padding: 0.4rem 10px;
  border: none;
}

div.facets .panel {
  margin-bottom: 0.5em;
  margin-top: -0.5em;
  border-top-style:none;
  max-height: 327px;
  overflow-y: scroll;
  padding: 10px 10px 10px 0;
}

div.facet-panel ul {
  margin-bottom: 0;
}

div.facet-panel li > a {
  position: relative;
  top: 10px;
  text-decoration:underline;
}

div.facets .panel span {
  display: inline-block;
}

div.facets .panel span.facet-name {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

div.facets ul {
  font-size: 14px;
  list-style: none;
}

div.facets .static-facets {
  overflow-y: hidden;
  max-height: 350px;
}

.facet-caret {
  color: #8b2332;
}

.facet-name,
.facet-count {
  padding-top: 5px;
}

.facet-thumbnail > img {
  width: 27px;
  height: 25px;
  margin-left: 10%;
}

.facet-name {
  width: 71%;
}

.facet-name a {
  text-decoration: none;
  color: #222;
  line-height: 15px;
}

.facet-count {
  color: #757371;
  float: right;
}

.fixed-facets .facet-count {
  margin-top: 5px;
}

button.accordion > h4 {
  margin: 0;
  float: left;
  font-size: 16px !important;
}

button.accordion > i {
  float: right;
}

button.accordion,
div.panel {
  background-color: white;
  border-style: solid;
  border-width: 1px;
  border-color: #c5c3c1;
  border-radius: 2px;
}

button.accordion {
  font-size: 18px;
  margin-bottom: 0.5em;
  background-color: #e5e3e1;
}
/* End facet section */

div.facet-breadcrumbs {
  margin: 45px auto 0 auto;
  width: 80%;
}

div.facet-breadcrumbs > span,
div.facet-breadcrumbs .col-md-12 > span {
  border: none;
  background: #e5e3e1;
  padding: 6px 12px;
  margin: 0 auto 5px auto;
  color: #222;
  white-space: normal;
  display: inline-block;
}

div.facet-breadcrumbs span:not(:first-child) {
  margin-left: 10px;
}

div#viewer-section {
  /*height: 437px;*/
  height: 100%;
  background: #e5e3e1;
  padding: 20px 0px;
  text-align: center;
 /* max-height: 745px;*/
}

div.embedded-viewer {
  text-align: center;
}

div.embedded-viewer #uv {
  height: 100vh;
}

div.viewer-wrapper {
  margin: 0 auto;
  width: 75%;
}

div.viewer-wrapper div {
  padding: 0;
}

div#viewer-section.object-view-error {
  padding: 50px 0;
}

div#viewer-section.object-view-error a {
  color: blue;
}

div#pdf-viewer > iframe {
  width: 90%;
  height: 800px;
}

#openseadragon1 {
  width: 60%;
  height: 40vw;
}

/* Begin collection grid section */
div#home-collections {
  margin: 0;
}

div#home-collections div.collection-thumb {
  margin-bottom: 45px;
}

div#home-collections > h4 {
    font-size: 1em;
}

div#collections .item-thumb {
  /*max-height: 200px;*/
  max-width: 200px;
  /* align-content: center; */
  margin: 20px auto;
}

div#collections div.collection-thumb {
  margin-bottom: 15px;
}

div#collections {
  margin: 50px 0 0 15px;
}

div#collections dl.item {
/*    max-width: 200px;
    max-height: 200px;*/
}

div#collections dl.item > dt {
  border-bottom-style: solid;
  border-bottom-color: #e5e3e1;
}

div#collections .row:not(:first-child) {
  margin-top: 4vw;
  border-top-style: solid;
  border-top-width: 1px;
  border-top-color: #e5e3e1;
}

div#collections .item-thumb {
  /*max-height: 200px;*/
  max-width: 200px;
  /* align-content: center; */
  margin: 20px auto;
}

div.search-results-grid div.thumb {
  margin-bottom: 15px;
}

div.search-results-grid {
  margin: 50px 0 0 15px;
}

div.search-results-grid div.item-details {
  text-align: center;
}

div.search-results-grid dl.item {
/*    max-width: 200px;
    max-height: 200px;*/
}

div.search-results-grid dl.item > dt {
  border-bottom-style: solid;
  border-bottom-color: #e5e3e1;
}

div.search-results-grid .row:not(:first-child) {
  margin-top: 4vw;
  border-top-style: solid;
  border-top-width: 1px;
  border-top-color: #e5e3e1;
}

div.search-results-grid .item-title {
  font-size: 15px;
}

div.search-results-grid dl.item {
  width: 80%;
}

div.search-results-grid dl.item dd {
  text-align: left;
}

div.collection-breadcrumbs {
  font-size: 13px;
  padding-left: 20px;
  margin: 20px auto 0 auto;
  width: 80%;
}

div.collection-breadcrumbs a {
  text-decoration: none;
}

div.collection-breadcrumbs a:hover {
  text-decoration: underline;
}

div.collection-breadcrumbs,
div.collection-breadcrumbs a,
div.collection-breadcrumbs a:visited {
  color: #666666;
}

.item-title {
  color: #000;
  font-size: 18px;
  margin: 0;
  padding: 0;
}
.collection-thumb .item-title {
  font-size: 15px;
}
.item-title a {
  color: #222;
  text-decoration: none;
  font-size: 16px;
}
.item {
  margin: 20px auto;
  text-align: center;
}

.item a {
  color: inherit;
}
.item dd {
  margin: 12px 0 .5rem 0;
}
.item-thumb {
  position: relative;
}
.item-thumb:before {
  content: '';
  position: absolute;
  /*background: rgba(0, 0, 0, 0.75);*/
  background: none;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  -webkit-transition: all 0.25s ease;
  transition: all 0.25s ease; 
}
.item-thumb:hover:before {
  opacity: 0.5;
}
.item-hover {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  opacity: 0;

  -webkit-transition: all 0.25s ease;
  transition: all 0.25s ease;

  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
.item-thumb:hover .item-hover {
  opacity: 1;
}

.item-thumb:hover {
  cursor: pointer;
}

.item-thumb img {
  max-height: 94%;
  max-width: 94%;
}

/* End collection grid section */

/* Begin search results */
div#daterange-window {
  overflow-y: initial;
  padding: 20px 17px;
}

form#daterange-form {
  /*display: inline-flex;*/
  width: 100%;
}

form#daterange-form input:not(.daterange-slider) {
  max-width: 30%;
  font-size: 1em;
}

form#daterange-form #slider {
  width: 91%;
  margin-left: 1vw;
}

form#daterange-form #slider span {
  background-color: #0e90d2;
  border-radius: 15px;
}

input.daterange-slider {
  width: 80%;
}

form#daterange-form label {
  font-size: 0.9em;
}

form#daterange-form button {
  font-size: 14px;
  margin-top: 10px;
}

.results-display {
  margin-top: 60px;
  display: flex;
}

div.results-display h4 {
  font-size: 1.2em;
  font-weight: bold;
  margin-top: 0;
  margin-bottom: 0;
}

div.search-results-menu > div {
  display: inline-block;
}

div.search-results-menu-element {
  margin-left: 20px;
  margin-top: 10px;
  display: inline-block;
}

div#search-results-wrapper h4 {
  margin-top: 0;
}

div#search-results-wrapper h4 span {
  font-weight: normal;
  margin-left: 15px;
  font-size: 16px;
}

div.search-results-list {
  margin-top: 30px;
}

div.search-results-list > h3 {
  font-size: 1.23em;
}

div.search-results-list div.search-result:not(:first-child) {
  margin-top: 45px;
}

div.search-result {
/*  display: inline-block;*/
  margin-bottom: 0;
/*  width: 85%;*/
  margin-bottom: 20px;
}

dl.item > dt {
  overflow: hidden;
}

dl.search-result-data {
/*  float: left;
  width: 90%;*/
  border-bottom-style: solid;
  border-width: 2px;
  border-color: #c5c3c1;
  padding-top: 1em;
  overflow: hidden;
  min-height: 225px;
}

div.search-result-tn {
  border-radius: 5px;
  width: 200px;
  height: 200px;
  margin: 0 auto;
}

div.search-result-tn a img {
  margin-bottom: 13%;
  border-radius: 7px;
  max-width: 100%;
  max-height: 100%;
}

div.search-result-data {
  padding: 0;
  font-size: 1em;
}

div.search-result-data p {
  margin-left: 6px;
}

div.search-result-data dt:not(.result-title) {
  margin-left: 5px;
}

div.search-result-data dd {
  margin-left: 10px;
  padding-top: 10px;
  line-height: 1.28em;
}

dt.result-title,
dt.result-title a {
  color: black;
  font-size: 1em;
  line-height: 25px;
  text-decoration: underline;
}
/* End search results */

/* Begin object data section */
div#metadata-section > .container {
  padding-top: 40px;
}

table.data-table {
 /* padding: 10px;*/
  width: 100%;
  border-style: solid;
  border-width: 1px;
  border-radius: 5px;
  border-collapse: separate;
  border-spacing: 0px
}

table.data-table td {
  padding: 15px;
/*  border-bottom-style: solid;
  border-bottom-color: #e5e3e1;
  border-bottom-width: 1px;*/
}

table.data-table td:first-child {
  border-right-style: solid;
  border-right-color: #e5e3e1;
  border-right-width: 1px;
  width: 20%;
}

table.data-table tr:first-child td {
  border-top-style: none;
}

table.data-table td p {
  margin-bottom: 0;
}

table.data-table a,
table.data-table a:visited {
  /*color: #181818;*/
}

div.object-data h3 {
  font-size: 1.5em;
  margin: 25px 0;
  /*color: #181818;*/
}

div.object-data p {
  color: #656361;
  font-size: 1.08em;
}

div.object-options {
  background-color: #585858;
  padding: 20px 0 20px 0;
  min-height: 80px;
}

div.object-options span {
  margin-left: 0;
}

div.object-options button {
  background-color: white;
  border-style: solid;
  font-family: inherit;
  padding: 10px;
  margin-right: 10px;
  color: #353331;
}

div.object-options button:hover {
  cursor: pointer;
  background-color: #e5e3e1;
}

div.object-options button:focus {
  outline: none;
}

div.download-links {
  margin-top: 30px;
}

div.download-links a {
  font-size: 0.9em;
}

.disabledbutton {
  pointer-events: none;
  opacity: 0.4;
}

div.object-citations {

}

.citation h5 {
  font-size: 1rem;
}

.citation p {
  font-size: 0.9em;
}

.citation:not(:first-child) {
  margin-top: 40px;
}

.citation p {
  padding: 0 5px;
}

div.mods-display {
  margin-bottom: 75px;
  margin-top: 25px;
  background: #fff;
  transition: opacity 600ms, visibility 600ms;
}

div.metadata-content {
  padding: 0;
  overflow: hidden;
}

.metadata-in-text-link,
a.metadata-in-text-link:not([href]):not([tabindex]) {
  color: blue;
  text-decoration: underline;
}
/* End object data section */

.kaltura-viewer h3 {
  margin-bottom: 15px;
}

div#transcript-view-wrapper {
  padding-bottom: 1.5em;
  background: white;
  width: 100%;
}

div#transcript-view {
  padding: 20px;
  background: white;
  width: 100%;
  margin-top: 20px;
  overflow-y: scroll;
  max-height: 300px;
  text-align: left;
  line-height: 1.5em;
}

.info-content {
  padding-top: 4.1em;
}

.info-content h2 {
  margin-bottom: 0.7em;
}

.info-content ul li {
  margin-bottom: 0.7em;
  line-height: 1.4em;
}

.info-content dl dt {
  margin-top: 2em;
  margin-bottom: 0.9em;
  font-weight: 500;
}

.info-content dl dd {
  margin-bottom: .8rem;
}

.info-content p {
  line-height: 1.4em;
}

footer {
  background: #8b2332;
  /* height: 230px; [C22] */
  padding: 50px 0 25px 0;
  overflow: hidden;
  /*position: absolute;
  bottom: 0;*/
  width: 100%;
}

.footer-wrapper {
  margin-left: 12vw;
}

footer div#footer-links {
  margin: 0 1em 0 1em;
}

footer a,
footer ul,
.footer-link-list label  {
  color: #e5e3e1;
  text-decoration: none;
}

footer ul {
  padding-left: 0;
}

footer a {
  font-weight: normal;
}

footer label {
  font-weight: bold;
  text-transform: uppercase;
  margin-left: 0px;
}

footer .footer-column {
  background-color: inherit;
}

.footer-link-list {
  width: 95%;
  margin: 0 auto;
}

.footer-link-list ul li {
  padding: 7px 0;
}
