body {
	background-color: #f7f7f7;
	font-size: 16px;
	font-family: Futura, "Trebuchet MS", Arial, sans-serif;
}

a:hover {
	cursor: pointer;
}

/* Header styles */

header#du-header {
	width: 100%;
	background-color: #8b2332;
}

div#du-red-header-inner {
	background-color: #8b2332;
	height: 50px;
	margin: auto;
	width: 99.5%;
}

span#du-logo {
	margin-top: 5px;
}

span#du-logo a img {
	height: 38px;
	width: 133px;
	margin-top: 5px;
	margin-left: 5px;
}

header#du-header {
	width: 100%;
	background-color: #8b2332;
}

span#site-title {
	color: #300000;
    opacity: 0.7;
    text-shadow: 0px 0px 2px rgba(0,0,0,0.9);
    font-weight: bold;
    font-size: 2.2em;
    font-family: 'Open Sans',sans-serif;
    letter-spacing: 0.04em;
    position: relative;
    left: 0.8em;
    top: 0.4em;
}

div#banner {
	min-height: 60px;
	background-color: #58001B;
	margin-top: 3em;
}

/* Main body styles */
div#main {
	margin: 1em auto 4em auto;
    /*max-width: 65%;*/
    width: 1200px;
}

div#content {
/*	width: 60%;*/
    background-color: white;
    min-height: 600px;
    overflow: auto;
    padding-bottom: 7em;
    box-shadow: 0px 0px 2px 1px #e5e3e1;
    /*padding-top: 3em;*/
    /*margin: 1em auto;
    max-width: 1200px;*/
}

ul.menu {
	list-style: none;
    padding-top: 1.16em;
    padding-left: 1.5em;
    margin-bottom: 0px;
    display: inline-flex;
}

ul.menu a {
	color: white;
	font-weight: bold;
	cursor: pointer;
	text-decoration: none;
	font-size: 18px;
}


ul.menu li i.fa {
	color: white;
	padding-right: 4px;
}

div#search {
	min-height: 50px;
	background-color: #EAE9E5;
	padding: 0.5em 0;
/*	border-style: solid;
	border-width: 1px;
	border-color: #373737;*/
}

form#search-form {
	width: 50%;
    margin: 0 auto;
}

form#search-form > div.form-group {
	margin-top: 15px;
	display:flex;
}

select#search-type {

	width: 120px;
	background-color: #c8c8c8;
}

select#search-type:hover {
	cursor: pointer;
}

select#search-type,
input#search-input {
	height: 50px;
}

button#search-button {
	background-color: #8b2332;
	border-color: #383838;
	border-width: 2px;
	border-radius: 2px;
	width: 80px;
	height: 48px;
	margin-top: 1px;
}

div#collections {
	display: block;
	padding: 0 0 3em 0;
	margin: 2em auto;
    width: 90%;

    text-align: center;
    vertical-align: middle;
}

div#collections-inner {
	background-color: #fafafa;
    padding: 3em 0 1em 0;
    /* width: 100%; */
    border-radius: 10px;
    box-shadow: 0px 0px 4px 1px #B5B3B1;
}

div#collections-inner a {
	/*padding: 2em;*/
    width: 300px;
    margin-left: 1.7em;
}

div#collections-inner a img {
	/*width: 200px;*/
	/*width: 20%;*/
	/*height: 250px;*/
	height: auto;
	width: auto;
	margin-bottom: 3em;
	border-radius: 6px;
}

div#collections-inner dl {
    width: 20%;
    min-width: 100px;
    min-height: 180px;
    display: inline-block;
    vertical-align: top;
    margin: 1.5em 1.84%;
    zoom: 1;
    height: 180px;
}

div#facet-breadcrumbs span {
	height: 30px;
    background-color: #EAE9E5;
    color: #333;
    padding: 0.5em;
    margin-left: 1em;
    border-radius: 4px;
}

div#facet-breadcrumbs {
	margin-top: 2em;
	margin: 2em auto 0 auto;
    width: 80%;
}

div#facet-breadcrumbs span a {
	color: red;
    text-decoration: none;
    padding-right: 0.5em;
    font-size: 17px;
}

div#facet-breadcrumbs span a strong.facet-breadcrumb-sidearrow {
	color: #9AA86E;
}

div#facet-breadcrumbs span a strong.facet-breadcrumb-remove-link {
	color: red;
}

div#pagination-header {
	height: 75px;
	/*padding: 2em 40%;*/
	padding: 1em 25% 2em 40%;
	font-size: 17px;
	margin-top: 1em;
}

div#pagination-header a {
	margin-left: 1em;
	color: #575757;
}

div#search-results {
	padding: 2em 3em;
	width: 73%;
	float: right;
}

div#search-results > h3 {
	margin-bottom: 2em;
}

div.search-result {
	display: inline-block;
	margin-bottom: 0;
    /*height: 230px;*/
    /*max-height: 230px;*/

}

dl.search-result-data {
	float: right;
	width: 75%;
	border-top-style: solid;
    border-width: 2px;
    border-color: #c5c3c1;
    padding-top: 1em;
    /*margin-top: 0;*/
}

dl.search-result-tn {
	float: left;
	/*width: 25%;*/
	width: 0%;
	border-radius: 5px;
}

dl.search-result-tn a img {
	min-width: 11em;
	/*min-height: 150px;*/
	margin-bottom: 13%;
	border-radius: 7px;

	max-width: 100%;
    max-height: 100%;
}

dl.search-result-data {
   /* max-height: 230px;*/
    overflow: hidden;
}

dl.search-result-data > dt {
	float: left;
  	width: 25%;
}

dl.search-result-data > dd {
	float: left;
  	width: 75%;
}

dl.search-result-data > dt,
dl.search-result-data > dd {
	margin-bottom: 0.7em;
}

dl.search-result-data > dd#result-description {
	/*padding-left: 0.5em;*/
}

dl.search-result-data > dd > a {
	text-decoration: underline;
	font-size: 18px;
}

dl#search-results-list > dt {
	float: left;
  	width: 25%;
}

dl#search-results-list > dt,
dl#search-results-list > dd {
	display: inline-block;
}

dl#search-results-list > dd {
	/*display: inline-block;*/
	float: left;
  	width: 75%;
	border-top: 1px solid #ddd;

}

div#facets {
	float: left;
	width: 22%;
	border-style: solid;
    min-height: 200px;
    border-radius: 3px;
    border-color: #EAE9E5;
    margin-left: 3em;
    margin-top: 2em;
}

div.section-label {
	padding-left: 1em;
    background-color: #EAE9E5;
    color: #333;
    padding: 0.2em 0.7em;
}

div.section-label > h4 {
	font-weight: bold;
	font-size: 19px;
}

div#facet-data {
	padding: 1.2em 0 1em 1.2em;
}

div#facet-data > ul {
	/*list-style: none;*/
	margin-bottom: 30px;
}

div#facet-data > h4 {
	font-weight: bold;
	margin-top: 1em;
}

div#facet-data span {
	margin-left: 0.2em;
}

div#facet-data span a {
	font-size: 16px;
}


div#object-title {
	text-align: center;
	margin-top: 2em;
}

div#viewer-section {
	width: 80%;
    margin: 4em auto 0 auto;
}

div#viewer {
	width: inherit;
    height: 100%;
    margin: 2.5em auto;
    border-style: solid;
    border-width: 1px;
    border-radius: 5px;
    border-color: #58001B;
    background-color: #EAE9E5;
    padding: 1.5em;
    box-shadow: 0px 0px 6px 2px #e5e3e1;
}

div#viewer > img {
	display: block;
    margin: auto;
}

div.viewer-section {
	background-color: #e5e3e1;
    padding: 2em;
    border-radius: 4px;
}

.my-video-dimensions {
    width: 640px;
    height: 264px;
    margin-left: auto;
    margin-right: auto;
}

.viewer-content {
	width: 100%;
}

.viewer-content,
.viewer-section > div {
	margin: 0 auto;
}

div#viewer-content-wrapper {
	width: 500px;
}

div#viewer-content-wrapper > audio {
	width: 100%;
}

div#object-data {
	width: 80%;
	margin: 3em auto 1em auto;
}

div#object-controls { 
	margin-top: 2em;
	margin: 3em auto 1em auto;
	width: 80%;
}

div#object-controls span a {
	cursor: pointer;
}

div#object-controls ul li {
	margin-bottom: 10px;
}

div#metadata-display {
	margin-top: 2em;
	margin: 3em auto 1em auto;
	width: 80%;
}

div#metadata-display {
    padding: 2em;
    border-style: solid;
    border-radius: 3px;
    border-width: 1px;
    border-color: #171717;
    box-shadow: 0px 0px 3px 2px #e5e3e1;
}

div#metadata-display table tr td:first-child {
	font-weight: bold;
}

div#object-controls > button {
	font-size: 19px;
}

div#object-data > p {
	margin-left: 1em;
	margin-top: 20px;
}

footer {
	height: 150px;
    background-color: #8b2332;
}

/* Collection grid ******************************************************************************************************************************/

.basic-collection-view {
    overflow: hidden;
    width: 100%;
    margin: 0 auto;
    height: 1000px;
}

.basic-collection-grid {
    text-align: center;
    vertical-align: middle;
}

.basic-collection-grid dl {
    width: 20%;
    min-width: 100px;
    min-height: 180px;
    display: -moz-inline-stack;
    display: inline-block;
    vertical-align: top;
    margin: 1.5em 1.84%;
    zoom: 1;
    /*height: 180px;*/
}

dl {
    display: block;
    -webkit-margin-before: 1em;
    -webkit-margin-after: 1em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
}

.clearfix:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}

dl[class$=collection] dt.basic-collection-thumb {
    border-style: solid;
    border-width: 1px;
    border-color: #a5a3a1;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    background-color: #e5e3e1;
}

dt.basic-collection-thumb {
	width: 12.3542em;
    height: 15.44275em;
}

dl[class$=collection] dt.basic-collection-thumb, dl[class$=collection].basic-collection-object dt a img {
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

dt.basic-collection-thumb a img {
    border-style: solid;
    border-width: 1px;
    border-color: #a5a3a1;

    -ms-interpolation-mode:bicubic;
    max-width:100%;
    height:auto;
    width:auto;
}

dl[class$=collection] dt.basic-collection-thumb a img {
    border-style: none;
}

/*dl[class$=collection] dd.basic-collection-caption {
    border-style: solid;
    border-top-style: none;
    border-width: 1px;
    border-color: #a5a3a1;
}*/

dl[class$=collection] dd.basic-collection-caption {
    background-color: #58001B;
    min-height: 35px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    border-style: solid;
    border-top-style: none;
    border-width: 1px;
    border-color: #a5a3a1;
    text-align: center;
    padding-top: 1em;
    padding-bottom: 1em;
}

dd.basic-collection-caption {
	height: auto;
    width: 12.3542em;
}

dl[class$=collection] dd.basic-collection-caption a {
	color: #e5e3e1;
	font-weight: bold;
}

dl[class$=collection] dd.basic-collection-caption a:hover {
	text-decoration: none;
}

.basic-collection-object dd {
    padding-top: 2px;
    padding-bottom: 2px;
}

.basic-collection-grid dd {
    margin: 0;
    padding: 0;
}

/* End collection grid **************************************************************************************************************************/



@media only screen and (min-width: 2000px) {
	div#main {
		width: 60%;
	}

	div#collections a {
		margin-left: 2.7em;
	}

/*	div#collections a img {
		margin-bottom: 4em;
	}*/


}

@media only screen and (min-width: 1400px) and (max-width: 1780px) {

	div#banner {
		min-height: 50px;
	}

	ul.menu {
		padding-top: 1em;
	}

	ul.menu a {
		font-size: 16px;
	}

	div#collections {
		width: 80%;
	}

/*	div#collections a img {
	    width: 130px;
	    height: 163px;
	}*/

	select#search-type,
	input#search-input {
		height: 45px;
	}

	button#search-button {
		height: 43px;
	}

}

@media only screen and (min-width: 1200px) and (max-width: 1400px) {

	div#main {
		margin: 1em auto 4em auto;
	    /*max-width: 65%;*/
	    width: 1050px;
	}

	dt.basic-collection-thumb {
	    width: 9.8542em;
	    height: 12.31775em;
	}

	dl.search-result-tn a img {
		min-width: 9.75em;
	}

	dd.basic-collection-caption {
	    height: auto;
	    width: 9.8542em;
	}
}

@media only screen and (min-width: 1000px) and (max-width: 1200px) {

	body {
		font-size: 15px;
	}

	div#main {
		margin: 1em auto 4em auto;
	    /*max-width: 65%;*/
	    width: 950px;
	}

	div#search-results {
		width: 70%;
	}

	dt.basic-collection-thumb {
	    width: 9.8542em;
	    height: 12.31775em;
	}

	dd.basic-collection-caption {
	    height: auto;
	    width: 9.8542em;
	}

	dl.search-result-tn a img {
		min-width: 8em;
	}
}

@media only screen and (min-width: 800px) and (max-width: 1000px) {

	body {
		font-size: 14px;
	}

	div#main {
		margin: 1em auto 4em auto;
	    /*max-width: 65%;*/
	    width: 750px;
	}

	div#search-results {
		width: 70%;
	}

	dt.basic-collection-thumb {
	    width: 7.8542em;
	    height: 10.31775em;
	}

	dd.basic-collection-caption {
	    height: auto;
	    width: 7.8542em;
	}

	dl.search-result-tn a img {
		min-width: 7em;
	}
}