body {
	background-color: #e5e3e1;
}

/* Header styles */

header#du-header {
	width: 100%;
	background-color: #8b2332;
}

div#du-red-header-inner {
	background-color: #8b2332;
	height: 50px;
	margin: auto;
	width: 99.5%;
}

span#du-logo {
	margin-top: 5px;
}

span#du-logo a img {
	height: 38px;
	width: 133px;
	margin-top: 5px;
	margin-left: 5px;
}

header#du-header {
	width: 100%;
	background-color: #8b2332;
}

div#banner {
	min-height: 120px;
	background-color: #171717;
}

/* Main body styles */

div#content {
	width: 60%;
    background-color: white;
    margin: 0 auto;
}

div#search {
	min-height: 50px;
	background-color: darkgrey;
	padding: 0.5em 0;
/*	border-style: solid;
	border-width: 1px;
	border-color: #373737;*/
}

form#search-form {
	width: 35%;
    margin: 0 auto;
}

form#search-form > div.form-group {
	margin-top: 15px;
	display:flex;
}

select#search-type {
	height: 50px;
	width: 80px;
	background-color: #e5e3e1;
}

select#search-type:hover {
	cursor: pointer;
}

input#search-input {
	height: 50px;
}

button#search-button {
	background-color: #8b2332;
	border-color: #383838;
	border-width: 2px;
	border-radius: 2px;
	width: 80px;
	height: 48px;
	margin-top: 1px;
}

div#collections {
	display: inline-flex;
}

div#collections a {
	padding: 1em;
	width: 300px;
}

div#collections a img {
	width: 200px;
	height: 250px;
}