body {
	background-color: #f7f7f7;
	font-size: 16px;
	font-family: Futura, "Trebuchet MS", Arial, sans-serif;
}

/* Header styles */

header#du-header {
	width: 100%;
	background-color: #8b2332;
}

div#du-red-header-inner {
	background-color: #8b2332;
	height: 50px;
	margin: auto;
	width: 99.5%;
}

span#du-logo {
	margin-top: 5px;
}

span#du-logo a img {
	height: 38px;
	width: 133px;
	margin-top: 5px;
	margin-left: 5px;
}

header#du-header {
	width: 100%;
	background-color: #8b2332;
}

div#banner {
	min-height: 60px;
	background-color: #58001B;
	margin-top: 6em;
}

/* Main body styles */
div#main {
	margin: 1em auto;
    max-width: 70%;
}

div#content {
/*	width: 60%;*/
    background-color: white;
    min-height: 600px;
    overflow: auto;
    padding-bottom: 7em;
    /*margin: 1em auto;
    max-width: 1200px;*/
}

ul.menu {
	list-style: none;
    padding-top: 1.16em;
    padding-left: 1.5em;
    margin-bottom: 0px;
}

ul.menu a {
	color: white;
	font-weight: bold;
	cursor: pointer;
	text-decoration: none;
	font-size: 18px;
}

div#search {
	min-height: 50px;
	background-color: #EAE9E5;
	padding: 0.5em 0;
/*	border-style: solid;
	border-width: 1px;
	border-color: #373737;*/
}

form#search-form {
	width: 50%;
    margin: 0 auto;
}

form#search-form > div.form-group {
	margin-top: 15px;
	display:flex;
}

select#search-type {

	width: 120px;
	background-color: #e5e3e1;
}

select#search-type:hover {
	cursor: pointer;
}

select#search-type,
input#search-input {
	height: 50px;
}

button#search-button {
	background-color: #8b2332;
	border-color: #383838;
	border-width: 2px;
	border-radius: 2px;
	width: 80px;
	height: 48px;
	margin-top: 1px;
}

div#collections {
	display: block;
	padding: 3em 0;
	margin: 2em auto;
    width: 90%;
}

div#collections a {
	padding: 2em;
    width: 300px;
    margin-left: 1.7em;
}

div#collections a img {
	width: 200px;
	height: 250px;
	margin-bottom: 3em;
}

div#pagination {
	height: 75px;
	padding: 2em 40%;
	font-size: 20px;
}

div#search-results {
	padding: 2em 3em;
	width: 73%;
	float: right;
}

div#search-results > h3 {
	margin-bottom: 2em;
}

div#search-result {
	margin-bottom: 2em;
    height: 230px;
    max-height: 230px;
}

dl.search-result-data {
	float: right;
	width: 75%;
	border-top-style: solid;
    border-width: 2px;
    border-color: #c5c3c1;
    padding-top: 1em;
}

dl.search-result-tn {
	float: left;
	width: 25%;
	border-radius: 5px;
}

dl.search-result-tn a img {
	min-width: 100px;
	min-height: 150px;
	margin-bottom: 13%;
	border-radius: 7px;
}

dl.search-result-data {
   /* max-height: 230px;*/
    overflow: hidden;
}

dl.search-result-data > dt {
	float: left;
  	width: 25%;
}

dl.search-result-data > dd {
	float: left;
  	width: 75%;
}

dl.search-result-data > dt,
dl.search-result-data > dd {
	margin-bottom: 0.7em;
}

dl.search-result-data > dd#result-description {
	/*padding-left: 0.5em;*/
}

dl.search-result-data > dd > a {
	text-decoration: underline;
	font-size: 18px;
}

dl#search-results-list > dt {
	float: left;
  	width: 25%;
}

dl#search-results-list > dt,
dl#search-results-list > dd {
	display: inline-block;
}

dl#search-results-list > dd {
	/*display: inline-block;*/
	float: left;
  	width: 75%;
	border-top: 1px solid #ddd;

}

div#facets {
	float: left;
	width: 22%;
	border-style: solid;
    min-height: 200px;
    border-radius: 3px;
    border-color: #EAE9E5;
    margin-left: 3em;
    margin-top: 2em;
}

div.section-label {
	padding-left: 1em;
    background-color: #EAE9E5;
    color: #333;
    padding: 0.2em 0.7em;
}

div.section-label > h4 {
	font-weight: bold;
	font-size: 19px;
}

div#facet-data {
	padding: 1.2em 0 1em 1.2em;
}

div#facet-data > ul {
	/*list-style: none;*/
	margin-bottom: 30px;
}

div#facet-data > h4 {
	font-weight: bold;
}

div#object-title {
	text-align: center;
	margin-top: 2em;
}

div#viewer-section {
	width: 80%;
    margin: 0 auto;
}

div#viewer {
	width: inherit;
    height: 100%;
    margin: 2.5em auto;
    border-style: solid;
    border-width: 1px;
    border-radius: 5px;
    border-color: #58001B;
    background-color: #EAE9E5;
    padding: 1.5em;
}

div#viewer > img {
	display: block;
    margin: auto;
}

div#object-data {
	width: 80%;
	margin: 3em auto 1em auto;
}

div#object-controls {
	margin-top: 2em;
	margin: 3em auto 1em auto;
	width: 85%;
}

div#object-data > p {
	margin-left: 1em;
	margin-top: 20px;
}





@media only screen and (min-width: 1400px) and (max-width: 1780px) {

	div#banner {
		min-height: 50px;
	}

	ul.menu {
		padding-top: 1em;
	}

	ul.menu a {
		font-size: 16px;
	}

	div#collections {
		width: 92%;
	}

	div#collections a img {
	    width: 130px;
	    height: 163px;
	}

	select#search-type,
	input#search-input {
		height: 45px;
	}

	button#search-button {
		height: 43px;
	}

}