/* Universal Viewer time slider v align */
.mejs__time-total {
    margin: 15px 0 0 0 !important;
}

/* Scrollbar width */
::-webkit-scrollbar {
    width: 15px;
}

/* Scrollbar track */
::-webkit-scrollbar-track {
    background: #f1f1f1; 
}

/* Scrollbar handle */
::-webkit-scrollbar-thumb {
    background: #c5c3c1; 
}

/* IE all versions */
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
   .searchform input {
      padding: 0 15px;
  }
}

/* Safari all versions  */
@media screen and (min-color-index:0) and(-webkit-min-device-pixel-ratio:0)
{ @media {
    div.banner-search button {
      bottom: 1px;
    }

    .searchform input {
      padding: 15px 10px 10px 10px;
    }
}}

/* Containers */
@media (min-width: 576px) {
  .container {
    max-width: 540px;
  }
}

@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}

@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }
}

@media (min-width: 1200px) {
  .container {
    /*max-width: 1330px;*/
  }
}

@media (min-width: 1500px) {
  .container {
    max-width: 1330px;
  }
}
/* End containers */