#uv {
  width: 100%;
  height: 800px;
}

.uv {
  overflow: hidden;
}

#object-view .uv {
  min-height: 800px;
}

.uv .rightPanel .top .title {
  visibility: hidden;
}

.uv .leftPanel .views .thumbsView .thumbs .thumb.oneCol .wrap {
  float: none !important;
  max-height: none !important;
}

.uv .wrap {
  height: auto !important;
  min-height: 100px !important;
}

.uv .leftPanel .views .thumbsView .thumbs .thumb.oneCol .label {
  width: auto !important; 
}

.uv .leftPanel .top .title {
  color: white;
}

.uv .content {
  padding: 0px;
}

.uv .mainPanel {
  overflow: hidden;
}

.uv .mainPanel .title {
  overflow: initial !important;
}

#uv .btn-primary, #uv .overlay .close {
    color: #fff;
    background-color: #8b2332;
    border-color: #8b2332;
}

#uv #content .container {
  width: 100% !important;
}

#uv #content .container > div,
#uv #content .container video {
  max-height: 660px;
}

#uv .mainPanel .main {
  margin-top: 30px;
  padding-left: 12px;
  /*height:auto !important;*/
}

.mejs__container {
  margin-top: 0 !important;
}

.uv .leftPanel .views .thumbsView .thumbs .thumb.oneCol .wrap {
    width: 90% !important;
    /*max-height: 100% !important; */
}

#uv .tabsContent .thumbs span.label {
  white-space: normal;
}

#uv .headerPanel .options {
  background: #585858;
}

.embedded-viewer {
  max-height: 100vh;
}

.embedded-viewer #uv {
  /*min-height: 72%;*/
}

.embedded-viewer #transcript-view-wrapper {
  padding-bottom: 0;
}

.embedded-viewer #transcript-view {
  height: 24%;
}

.uv button.download {
  display: none !important;
}

.spinner {
  position: absolute !important;
  top: 240px;
  left: 500px;
  z-index: 1;
  border-radius: 3px;
  width: 470px !important;
  height: 331px !important;
  color: white !important;
  border-radius: 0 !important;
  background-repeat: no-repeat !important;
  background-position: 50% 50% !important;
  background-image: url(../img/spinner3_med.gif) !important;
  font-size: 20px;
  font-family: 'Montserrat', 'Poppins', 'Raleway', sans-serif;
  padding: 20px;
}

.pre-spinner {
  border-radius: 3px;
  height: 331px !important;
  color: red !important;
  border-radius: 0 !important;
  background-repeat: no-repeat !important;
  background-position: 50% 50% !important;
  background-image: url(../img/spinner3_med.gif) !important;
  padding: 20px;
}

.uv-preload-msg {
  position: relative;
  top: 22vh;
}

.loading-msg {
  height: 28px;
}

.uv-preload-msg h3 {
  color: white;
  visibility: hidden;
}

.outer-spinner .timeout-msg,
.uv .centerPanel .content .spinner .timeout-msg {
  margin-top:100px;
  color: black;
  background: #e5e3e1;
  padding: 25px;
  line-height: 1.5em;
}

.outer-spinner .timeout-msg a,
.uv .centerPanel .content .spinner .timeout-msg a {
  color: blue;
  text-decoration: underline;
}

.uv-preload-text {
  color: white;
  position: relative;
  top: 320px;
  font-size: 1.3em;
}

#sidebar-nav-buttons {
  position: absolute;
  top: 100px;
  left: 19px;
  width: 200px;
}

#sidebar-nav-buttons a,
#sidebar-nav-buttons a:hover {
  text-decoration: none;
  font-size: 0.88em;
  color: #26b5cc !important;
}

#sidebar-nav-buttons a:not(first-child) {
  margin-left: 10px;
}

@media screen and (max-width: 800px) {
  #sidebar-nav-buttons {
    display: none !important;
  }
}