<%- include('../partials/header') -%>
<%- include('../partials/title-banner') -%>

<div id="main" class="content container">
	<div class="info-content">
		
		<h3>Accessibility Statement for Special Collections</h3>
		<p> 
			University of Denver is committed to ensuring Special accessibility for people with disabilities. We are continually improving the user experience for everyone, and applying the relevant accessibility standards.
		
		</p>	
		<h2> Measures to support accessibility </h2> 
			<p> University of Denver takes the following measures to ensure accessibility of Special Collections: 
			<ul>
			<li>Include accessibility as part of our mission statement.</li>
			</ul>
			</p> 
		
        <h3> Conformance status </h3> 

		<p> <h aref"https://www.w3.org/WAI/standards-guidelines/wcag/">The Web Content Accessibility Guidelines (WCAG)</a> defines requirements for designers and developers to improve accessibility for people with disabilities. 
			It defines three levels of conformance: Level A, Level AA, and Level AAA.
			Special Collections is conformant with WCAG 2.0 level A. 
			It is currently non-conformant with WCAG 2.0 level AA which we are actively trying to address. 
			Non conformant means that the content does not conform the accessibility standard. 
	    </p> 
		
		<h3> Feedback </h3>
		<p>
			We welcome your feedback on the accessibility of Special Collections. Please let us know if you encounter accessibility barriers on Digital Collections:  
			<ul>
			<li>Phone: 303-871-3428 </li>
			<li>Visitor address: 2150 East Evans Avenue Denver CO 80210</li> 
			<li>Postal address: 2150 East Evans Avenue Denver CO 80210</li>
			</ul>
		</p>

   <h3> Technical specifications </h3>

	<p>Accessibility of this site relies on the following technologies to work with the particular combination of web browser and any assistive technologies or plugins installed on your computer.
		   These technologies are relied upon for conformance with the accessibility standards used:  
       <ul>
		<li>HTML</li> 
		<li>CSS</li> 
		<li>JavaScript</li> 
		</ul>
        </p>
	<h3> Assessment approach </h3> 
    <p>
	University of Denver assessed the accessibility of  Special Collections by the following approaches:  
		<ul>
		<li>Self-evaluation </li>
		</ul>
    </p>
		<h3>Formal approval of this accessibility statement</h3>

		<p> This Accessibility Statement is approved by:
		<ul style="list-style-type:none;">
		<li>University of Denver</li>  
		<li>Kim Pham</li>
		<li>Information Technologies Librarian</li>
		</p> 
 		</ul>
		</p>
	</div>
</div>

<%- include('../partials/footer') -%
