<%- include('../partials/header') -%>
<%- include('../partials/title-banner') -%>

<div id="main" class="content container">
	<div class="info-content">
		<h3>Accessibility Statement for Digitial Special Collections</h3>
		<br><br>
		
		<p> 
			University of Denver is committed to ensuring digital accessibility for people with disabilities. We are continually improving the user experience for everyone, and applying the relevant accessibility standards.
		</p>	
		<h2> Measures to support accessibility </h2> 
			<p> University of Denver takes the following measures to ensure accessibility of Digitial Special Collections: Include accessibility as part of our mission statement. </p> 

        <h3> Conformance status </h3> 

		 <p> The Web Content Accessibility Guidelines (WCAG) defines requirements for designers and developers to improve accessibility for people with disabilities. 
			 It defines three levels of conformance: Level A, Level AA, and Level AAA. 
			 Digitial Special Collections is non conformant with WCAG 2.0 level AA. 
			 It is currently non-conformant with WCAG 2.0 level AA which we are actively trying to address. 
			 Non conformant means that the content does not conform the accessibility standard. 
	    </p> 

		<h3> Feedback </h3>
		<p>
			We welcome your feedback on the accessibility of Digitial Collections. Please let us know if you encounter accessibility barriers on Digitial Collections:  
			Phone: 303-871-3428  
			Visitor address: 2150 East Evans Avenue Denver CO 80210  
			Postal address: 2150 East Evans Avenue Denver CO 80210  
			
		</p>

   <h3> Technical specifications </h3>

		<p>Accessibility of Digitial Collections this site relies on the following technologies to work with the particular combination of web browser and any assistive technologies or plugins installed on your computer.
		   These technologies are relied upon for conformance with the accessibility standards used:  

		HTML 

		CSS 

		JavaScript 
        </p>

	<h3> Assessment approach </h3> 
    <p>
	University of Denver assessed the accessibility of Digitial Special Collections by the following approaches:  

		Self-evaluation 
    </p>
		Formal approval of this accessibility statement 

	<h3> This Accessibility Statement is approved by:<h3> 
		<p>
		University of Denver  
		Kim Pham 
		Information Technologies Librarian  
		</p> 
 
		</p>
	</div>
</div>

<%- include('../partials/footer') -%>