<% include ../partials/header %>
<% include ../partials/title-banner %>

<div id="main" class="content container">
	<div class="info-content">
		<h2>Consultation and Training</h2>
		<br>
		<p>Digital Initiatives (DI) offers training and consulting services for many digital projects, no
		matter the size or scope. DI is always willing to share the experience and expertise that has
		been accumulated from working with the digitization of an academic department’s collection
		of past student’s theses, to the digitization of an art collection with well over 20,000 images;
		DI can offer assistance to the smallest digital projects, or the largest.</p>
		<br>
		<h3>Our training and consulting services include:</h3>
		<br>
		<ul>
			<li>* An analysis of your specific project needs</li>
			<li>* The development of a project strategy, including identifying the requirements
for the use of all systems at our disposal</li>
			<li>* The formulation of work ows, timelines, and budgets</li>
			<li>* Planning and considerations for project staffing</li>
			<li>* The development of imaging specifications that will work best for your needs</li>
		</ul>

	</div>
</div>

<% include ../partials/footer %>