<% include ../partials/header %>
<% include ../partials/title-banner %>

<div id="main" class="content container">
	<div class="info-content">
		<h2>Contact Digital DU</h2>
		<br>
		<h3>Special Collections and Archives</h3>
		<ul>
			<li>Katherine Crowe</li>
			<li>Curator of Special Collections and Archives</li>
			<li>University of Denver</li>
			<li>University Libraries</li>
			<li><a href="mailto:katherine.crowe@du.edu" target="_blank">katherine.crowe@du.edu</a></li>
			<li>303-871-7944</li>
		</ul>
		<br>
		<h3>Digital Infrastructure and Technology</h3>
		<ul>
			<li>Kim Pham</li>
			<li>Information Technologies Librarian</li>
			<li>University of Denver</li>
			<li>University Libraries</li>
			<li><a href="mailto:Kim.Pham60@du.edu" target="_blank">Kim.Pham60@du.edu</a></li>
			<li>303-871-2285</li>
		</ul>
		<br>
		<h3>Archives Processing and Digital Content Metadata</h3>
		<ul>
			<li>Kevin Clair</li>
			<li>Archives Processing and Digital Content Metadata Librarian</li>
			<li>University of Denver</li>
			<li>University Libraries</li>
			<li><a href="mailto:Kevin.Clair@du.edu" target="_blank">Kevin.Clair@du.edu</a></li>
			<li>303-871-3434</li>
		</ul>
	</div>
</div>

<% include ../partials/footer %>