<%- include('../partials/header') -%>
<%- include('../partials/title-banner') -%>

<div id="main" class="content container">
	<div class="info-content">
		<h3>Contact Digital DU</h3>
		<br><br><br>
		<h2>Special Collections and Archives</h2>
		<ul>
			<li>Katherine Crowe</li>
			<li>Curator of Special Collections and Archives</li>
			<li>University of Denver</li>
			<li>University Libraries</li>
			<li><a href="mailto:katherine.crowe@du.edu" target="_blank">katherine.crowe@du.edu</a></li>
			<li>303-871-7944</li>
		</ul>
		<br><br>
		<h2>Library Technology Services</h2>
		<ul>
			<li>Kim Pham</li>
			<li>Information Technologies Librarian</li>
			<li>University of Denver</li>
			<li>University Libraries</li>
			<li><a href="mailto:Kim.Pham60@du.edu" target="_blank">Kim.Pham60@du.edu</a></li>
			<li>303-871-2285</li>
		</ul>
		<br><br>
		<h2>Digital Collections Services</h2>
		<ul>
			<li>Denisse Solis</li>
			<li>Digital Collections Librarian</li>
			<li>University of Denver</li>
			<li>University Libraries</li>
			<li><a href="mailto:Denisse.Solis@du.edu" target="_blank">Denisse.Solis@du.edu</a></li>
			<li>303-871-3434</li>
		</ul>
	</div>
</div>

<%- include('../partials/footer') -%>
