<%- include('../partials/header') -%>
<%- include('../partials/title-banner') -%>

<div id="main" class="content container">
	<div class="info-content">
		<h3>Copyright Information</h3>
		<br><br><br>
		<p>Copyright restrictions may apply to items in Digital Collections @ DU. The user is responsible for all
		copyright compliance.</p>
		<p>Authors who hold copyright for content ingested in Digital Collections @ DU will retain that copyright.</p>
		<p>In certain circumstances, Digital Collections @ DU will allow for the access to restricted images depending
		upon the need. Please inquire if you have any questions.</p>
		<p>Digital Collections @ DU respects and encourages the use of Creative Commons licensing for digital assets.
		To learn more about this concept and the degrees of licensing please visit the <a href="http://creativecommons.org/" target="_blank">Creative
		Commons Website (http://creativecommons.org/)</a>.</p>

	</div>
</div>

<%- include('../partials/footer') -%>