<% include ../partials/header %>
<% include ../partials/title-banner %>

<div id="main" class="content container">
	<div class="info-content">
		<h2>Digital Content Management</h2>
		<br>
		<h3>Digital Content Management</h3>
		<p>Digital Initiatives (DI) provides both tools and services to assist in digital content
		management. The primary tool that DI provides and maintains is the Digital DU Library
		Repository. The repository is a preservation oriented system that can provide storage and
		access for almost any digital object. DI also provides digital curation services, as well as
		training and consultation, on digital objects.
		Digital DU Repository</p>
		<p>Digital DU, the digital repository at the University Libraries, is designed for the long-term
		storage and access of digital content at the University of Denver (DU). The digital repository
		makes sure this is possible through:</p>
		<ul>
			<li>* A Preservation Oriented System</li>
			<li>* Sustainable Practice</li>
			<li>* Globally Unique Identifiers for Objects</li>
			<li>* Security and Access Controls</li>
			<li>* Digital Curation</li>
		</ul>
		<p>DI can provide assistance in the management of digital objects (curation). Digital curation
		involves, but is not limited to:</p>
		<ul>
			<li>* Object Description (metadata)</li>
			<li>* Object Authenticity</li>
			<li>* Object Formatting (file types)</li>
			<li>* Consulting and Training</li>
		</ul>
		<br>
		<h3>Resource Management</h3>
		<p>One of the many factors that needs to be taken into account when assembling a digital
		collection for creation is the necessity of Resource Management. When DI refers to Resource
		Management we are referring to all of the facets of creation and maintenance of a digital
		collection. We strive to offer consulting for these crucial aspects that will allow you complete
		dissemination and control of your collection.
		DI offers consulting about the financial, legal, and access aspects of the creation of a
		collection. We will help you to discover and assess your needs but we must also insist that
		you have all of the necessary legal permissions to display your collection with us. DI
		endeavors to create an atmosphere of open access and discovery which is why we encourage
		our participants to display objects that are like or similar to Creative Commons Share Alike;
		which states that “You allow others to distribute derivative works only under a license
		identical to the license that governs your work.” Creative Commons.</p>
		<br>
		<h3>Sustainability</h3>
		<p>Over the past decade the growth of technological advances on college campuses and the
		increased interest in the dissemination of digital resources offered by these institutions has
		created a need and desire to create viable projects with long-reaching goals for the future.
		We at DI take the issue of Sustainability very seriously, whether your project is a brief one, or
		involves long term research, we offer planning services that will help you positively maintain
		the life and integrity of your collection.
		Some of these considerations include:</p>
		<ul>
			<li>- Helping you to consider all funding options above and beyond the initial endowment process</li>
			<li>- Consultation regarding the leadership of your project and it’s long term goals and
			governance</li>
			<li>- Advice regarding long term technologies and the risk assessment of your project in the face
			of obsolescence</li>
			<li>- Strategic planning that will allow you to develop effective marketing plans and help you to
			understand the competitive environment of the web and make decisions that suit your goals
			and objectives successfully and affordably</li>
		</ul>
		<p>For details on how Digital Initiatives can help you sustain your digital objects and scholarly
		output, please contact us!</p>
		<br>
		<h3>Global Access and Discovery</h3>
		<p>When referring to Global Access, Digital Initiatives (DI) means that the digital information
		should be discoverable and accessible by as many users as possible, anywhere on the planet.
		DI believes that the partnership of seamless discovery and access of information are the
		foundation for building a successful digital project.
		DI’s discovery and delivery systems will allow users to quickly find documents, link to related
		subjects easily, and browse through objects with little or no difficulty.
		Our focus for this process includes:</p>
		<ul>
			<li>* Tailoring browsing parameters that allow for the most ful lling discovery process</li>
			<li>* OCR technology which allows for full text searching</li>
			<li>* The ability to organize objects as thoughtfully and logically as possible</li>
			<li>* Search Engine Indexing which allows for greater discovery</li>
			<li>* Library Catalog indexing that allows your objects to be featured and searchable
			in a library catalog context</li>
			<li>* OCLC indexing which enables listing in a very robust and well known citation index</li>
			<li>* OAI Harvesting which allows for the sharing of your objects with
			other open-source partners that want to view your information</li>
		</ul>

	</div>
</div>

<% include ../partials/footer %>