<% include ../partials/header %>
<% include ../partials/title-banner %>

<div id="main" class="content container">
	<div class="info-content">
		<h2>FAQs</h2>
		<br>
		<h3>Who manages Digital DU?</h3>
		<p>Digital DU is run by the Digital Initiatives Department at the University Libraries, located at
		the University of Denver (DU). Digital DU is a member of the Alliance Digital Repository (ADR)
		which is a digital consortium whose members can be found in Colorado, Wyoming and New
		Mexico.</p><br>
		<h3>What kinds of records are in Digital DU?</h3>
		<p>Digital DU is content agnostic, meaning that it is designed to hold almost any kind of digital
		file. That being said Digital Initiatives at DU supports the use of sustainable file types in order
		to encourage the preservation of records for the future. Currently the file types that Digital
		DU supports are:</p>
		<dl>
			<dt><strong>Text Files</strong></dt>
			<dd>.xls, .xslx, .ppt, .pps, .pptx, .doc, .docx, .pdf, .rtf, .txt, .xml</dd>
			<dt><strong>Image Files</strong></dt>
			<dd>.gif, .jpeg,.jpg, .jp2, .png, .psd, .ti , .tif</dd>
			<dt><strong>Audio and Video</strong></dt>
			<dd>.mp3, .wav, .mp4, .mov, .swf, and .wmv</dd>
		</dl><br>
		<h3>How is Digital DU organized?</h3>
		<p>Digital DU is broken down into a series of <strong>Communities</strong> and <strong>Collections</strong> that organize its data.
		<strong>Communities</strong> refer to the larger organizational body that can hold a variety of distinct yet
		similar <strong>Collections</strong>. For example, the <a href="http://digitaldu.coalliance.org/fedora/repository/codu:16347" target="_blank">Division of Athletics and Recreation Community</a> holds a <a href="http://digitaldu.coalliance.org/fedora/repository/codu:15559" target="_blank">Collection of Media
		Relations Photographs</a> , as
		well as a <a href="http://digitaldu.coalliance.org/fedora/repository/codu:19719" target="_blank">Collection of Media Relations Documents</a>. While both are related, they
		have separate collections within the community.</p>
		<br>
		<h3>What are the minimum and maximum sizes of data that can be added to Digital DU?</h3>
		<p>While the Digital Initiatives encourages the access and discovery of our assets, we do have
		very granular controls of our data. This means that we have the capability to lock down an
		entire collection as well as the capability to lock down a single item. By locking down we are
		referring to the ability for public or select parties to be able to view or edit the records. At
		this time we support several non-public collections that are for scholarly purposes only.</p>
	</div>
</div>

<% include ../partials/footer %>