<% include ../partials/header %>
<% include ../partials/title-banner %>

<div id="main" class="content container">
	<div class="info-content">
		<h4>Special Collections @ DU Overview</h4>
		<br>
		<h3>Statement of Purpose</h3>
		<p>Within the larger context of the missions of the University of Denver and the University
		Libraries, the mission of Special Collections @ DU is to provide services for the preservation
		of and access to digital assets inherent to the research, information, and educational mission
		of the University of Denver.
		Digital DU serves as a standards-based repository and infrastructure supporting a diverse set
		of applications, services, and discovery tools that offer long-term management, secure
		storage, preservation solutions, and, generally, open access to digital assets of enduring
		value.
		The University Libraries are committed to managing and maintaining the digital assets in
		Special Collections @ DU for the use and benefit of current and future generations.</p>

		<h3>I. Access Policy</h3>
		<p>Active content should be discoverable by all. Some content may have restricted access based
		on group membership, embargo periods, copyright, licensing, or other issues.</p>

		<h3>II. Collection / Content Policy</h3>
		<h6>A. Partners</h6>
		<p>The University Libraries oversee the collections and content of Digital DU. Digital DU projects
		are under the oversight either of the University Libraries directly (Class A), by agreement with
		a University of Denver unit (Class B), or agreement with a faculty member (Class C).
		*Class A: The University Libraries directly oversee the collection and content of these
		projects. This could be content owned by the Library, or developed in agreement with an
		outside entity.
		*Class B: An agreement is in force between the University Libraries and a University of Denver unit. A project manager affiliated with the unit has oversight of the project and is
		responsible for ensuring that the project meets DU Digital standards. The level of
		involvement of the University Libraries with a partner is negotiated on a case-by-case basis.
		*Class C: Similar to Class B, except the agreement is with an individual University of Denver
		faculty member or administrator.</p>
		<h6>B. Scope of Content Allowed</h6>
		<p>Content must be related to the educational mission of the University of Denver. Distribution
		rights or copyright must be held by the contributor. Examples of acceptable content include
		faculty publications for which copyright is held by the contributor (preprints, postprints,
		technical reports, statistical data, etc.), University of Denver lms, conference proceedings
		hosted at or by the University of Denver, and departmental research projects. Examples of
		unacceptable material include personal music or video collections used for entertainment or
		recreation, or personal storage of copyrighted content (ex. JSTOR articles).
		The unit or individual submitting the content vouches for the accuracy of the content and
		that there are no intellectual property violations. Material discovered to be out of scope,
		especially in cases of copyright infringement, will be subject to post-submission review by the
		University Libraries.
		Contributed content must be complete and ready for distribution and preservation.
		As far as University records are concerned, only permanent records will be managed in the
		LDR.</p>
		<h6>C. Permanence of Content</h6>
		<p>It is expected that all content deposited is for permanent retention. Under rare
		circumstances content may be withdrawn. Items withdrawn will be removed from view, but to
		avoid loss of the historical record, all such transactions will be traced in the form of a note in
		the record:
		“Removed at the University of Denver’s discretion”
		“Removed at the University Libraries' discretion”
		“Removed by legal order”
		When content is removed the metadata will remain in the system, but will not be searchable
		in public mode.</p>

		<h3>III. Format Policy</h3>
		<p>Any digital format may be submitted to the repository. However, some formats are
		supported, meaning that the repository takes responsibility for preserving and migrating as
		appropriate. Unsupported formats can be preserved, but not migrated. A list of supported
		formats will be maintained and distributed by the Library.</p>

		<h3>IV. Storage Allocation Policy</h3>
		<p>The Alliance storage array may include both centrally-managed Alliance storage and
		decentralized member-contributed storage.
		Storage allocation will be governed by the Alliance policies. The University Libraries will
		manage the University of Denver allocation on a case-by-case basis.</p>
		<br>

		<h3>Technical Overview and Specifications for Digital DU</h3>

	</div>
</div>

<% include ../partials/footer %>